nav {
	box-shadow: none !important;
/*	recruitment  */
  background-color: $primary-blue;

/*	holidays */
/*	background-color: white; */

	font-family: Montserrat;
	padding-top: 20px;
	padding-bottom: 70px !important;
	margin-bottom: 0px !important;
	line-height: 40px;
	padding-right: 25px;
}

.mdi-navigation-menu {
	margin-left: 15px;
	height: 56px !important;
}

.textfieldTopSpacing {
	margin-top: 5px !important;
}

.mdi-navigation-menu {
	/* color: $primary-blue; */
	/*	recruitment  */
	color: white;

}

#dropdown2 > li > a {

	font-size: 15px !important;
	/*	recruitment  */

	background-color: $primary-blue;
	color: white;

	/*	holidays */

	/* background-color: white;
	color: $primary-blue; */
}

#dropdown2 > li {
/*	recruitment  */
	background-color: $primary-blue;

/*	holidays */
	/* background-color: white; */
}


#dropdown1 > li > a {
	font-size: 15px !important;
	/*	recruitment  */

	background-color: $primary-blue;
	color: white;

	/*	holidays */

	/* background-color: white;
	color: $primary-blue; */
}

#dropdown1 > li {
/*	recruitment  */
	background-color: $primary-blue;

/*	holidays */
	/* background-color: white; */
}

.requestThanks {
	max-height: 50%;
	max-width: 50%;
}

.navText > li {
	/*	recruitment  */
	background-color: $primary-blue;

	/*	holidays */
	/* background-color: white; */
}

.nav-wrapper {
	padding-bottom: 10px;
}


.navText > li > a {

	font-size: 15px !important;

	/*	recruitment  */

	background-color: $primary-blue;
	color: white;

	/*	holidays */

	/* background-color: white;
	color: $primary-blue; */

	margin-left: 20px;
	margin-right: 20px;
}

.dropdown-button {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.navText > li:hover {
	/*	recruitment  */
	background-color: $primary-blue;

	/*	holidays */
	/* background-color: white; */

	box-shadow: none !important;
	text-decoration: none !important;
}

.navText > li > a:hover {

	/*	recruitment  */
	background-color: $primary-blue;

	/*	holidays */
	/* background-color: white; */

	box-shadow: none !important;
	text-decoration: none !important;
}

.openRequests:hover {
	background-color: $primary-blue;
	cursor: pointer;
}

.logo {
	height: 100%;
	width: 50px;
	margin-left: 15px;
}

.bottom-sheet {
	max-height: 100% !important;
	height: 100% !important;
}

.submitbtn {
	background-color: $primary-blue !important;
	margin-bottom: 25px;
	color: white;
}

.closeFormBtn {
	float: right;
	font-size: 30px;
	margin-top: 15px;
	margin-right: 15px;
}

.requestsFormPadding {
	margin-top: 50px;
}

.picker__nav--prev:hover {
	background-color: $primary-blue !important;
}

.picker__nav--next:hover {
	background-color: $primary-blue !important;
}

.additionalInfo {
	height: 150px !important;
}

.placeholder {
	width: 100%;
	max-width: 100%;
	height: 500px;
}
