$primary-blue: #0693C0;

@import "navbar";
@import "materialFixes";

video {
	max-width: 100%;
	display: block;
	width: 100% !important;
}

html {
	background-color: white !important;
}

button {
	font-family: Montserrat;
	text-transform: none !important;
}

a {
	text-decoration: none;
	color: black;
}

h4 {
	font-family: Montserrat;
	font-size: 13px;
	margin-top: 0px;
}

p {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
}

h2 {
	font-family: Montserrat;
	font-size: 20px;
	margin-top: 0px;
	color: black;
}

b {
	font-family: Montserrat;
	font-size: 15px;
	color: black;
}

h3 {
	font-family: Montserrat;
	font-size: 15px;
	margin-top: 0px;
	color: black;
}

label {
	font-size: 13px;
}

.removeLeftPadding {
	padding-left: 0px !important;
}

.removeBottomMargin {
	margin-bottom: 0px !important;
}

.removeTopMargin {
	margin-top: 0px !important;
}

.removeRightPadding {
	padding-right: 0px !important;
}

.btn {
	background-color: $primary-blue !important;
	margin-bottom: 25px;
}

.h2white {
	color: white;
}

.h3white {
	color: white;
}

.fa {
	color: $primary-blue;
	font-size: 15px;
}

.rowFix {
	margin-bottom: 0px;
}

.rowBottomSpacing25 {
	margin-bottom: 25px;
}

.card {
	margin-top: 0px !important;
}

.datepicker {
	margin-bottom: 40px;
}

.tierSelect {
	font-size: 15px;
	margin-bottom: 15px;
}

.requestSpacing {
	margin-bottom: 25px;
}

.requestForm {
	padding: 0px !important;
}

.submitbtn {
	margin-top: 5px !important;
}
