.tierIcons {
    max-width: 100%;
}

.collapsible {
    box-shadow: none;
    margin-top: 0px !important;
}

.collapsible-header {
  padding-top: 15px;
}

.collapsible > li > .active > h3 {
  color: #1B93C0 !important;
}

