/*  I don't know how important a lot of these important declarations are  */

u {
    border-bottom: solid 2px #000000;
    display: inline;
    padding-bottom: 5px;
    text-decoration: none;
}

.webPortfolioLinks:hover {
    color: #1B93C0;
}

.rowTopSpacing {
    margin-top: 100px;
}

.blueTab {
    height: 15px;
    width: 15px;
    float: right;
    background-color: #1B93C0;
}

.tierWorkSpacing {
    margin-top: 100px;
}

.work {
    margin-bottom: 20px;
}

.tabs .tab {
    text-transform: none !important;
}

.tabs100 .tab a p {
    color: #1B93C0 !important;
    text-decoration: none;
}

.tabs .tab a p {
    text-decoration: none:
}

.tabs100 {
    width: 100px !important;
}

.indicator {
    visibility: hidden;
}

.tabs100 .active {
    font-weight: bold;
}

.tierTabs .tab {
    text-align: left !important;
    width: 20% !important;
}


.bluetier {
    background-color: white !important;
    line-height: 0px !important;
    width: 90% !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 7px;
    text-align: center;
    height: 50px !important;
    border: 2px solid #1B93C0;
}

.bluetier > p {
    color: #1B93C0 !important;
    text-transform: none !important;
    position: relative;
}

.bluetier:hover {
    background-color: white !important;
    color: #1B93C0 !important;
}

.bluetier.active {
    background-color: #1B93C0 !important;
    line-height: 0px !important;
    width: 90% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 7px;
    text-align: center;
    height: 50px !important;
}

.bluetier.active > p {
    color: white !important;
    text-transform: none !important;
}

.bluetier.active:hover {
    background-color: #1B93C0 !important;
    color: white !important;
}

.goldtier {
    background-color: white !important;
    line-height: 0px !important;
    width: 90% !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 7px;
    text-align: center;
    height: 50px !important;
    border: 2px solid #FEAF27;
}

.goldtier > p {
    color: #FEAF27 !important;
    text-transform: none !important;
    position: relative;
}

.goldtier:hover {
    background-color: white !important;
    color: #FEAF27 !important;
}

.goldtier.active {
    background-color: #FEAF27 !important;
    line-height: 0px !important;
    width: 90% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 7px;
    text-align: center;
    height: 50px !important;
}

.goldtier.active > p {
    color: white !important;
    text-transform: none !important;
}

.goldtier.active:hover {
    background-color: #FEAF27 !important;
    color: white !important;
}

.flow-text {
    font-family: 'Open Sans' !important;
    font-size: 15px !important;
}
