.mobileBody {
	background-color: #0693C0;
	padding-top: 200px;
	padding-bottom: 200px;
}

.mobileCheckout {
	font-family: Montserrat;
	font-size: 15px !important;
	color: white;
} 	

.videoProblems {
	background-color: white !important;
	color: #0693C0;
	font-family: Montserrat;
	font-size: 10px;
}

.mobileVideo {
	max-width: 50%;
}

.centerThings {
	margin-right: auto !important;
	margin-left: auto !important;
}

.landingCard:hover p {
	visibility: hidden;
}

.landingCard:hover h3 {
	background-color: #0693C0;
}

.landingLink {
	color: white !important;
}

.footerIcons {
	/*	recruitment  */

	background-color: #0693C0;
	color: white;

	/*	holidays */
	
	/* background-color: white;
	color: #0693C0; */
	font-size: 20px !important;
}

.copyright {
  color: white;
  /* holidays 
	color: #0693C0; */
}

.bottom {
  /* background-color: #3E85A5; /* video compatibility */
	background-color: #0693C0;
}
