iframe {
	max-width: 100% !important;
	width: 100%;
}

.landingCard {
	box-shadow: none;
	height: 200px;
	background-color: #262930;
	color: white;
}

.landingCard:hover {
	background-image: url("img/hongye.jpg");
    background-size:   cover;                    
    background-repeat: no-repeat;
/*    background-position: center center;   */
}

.landingCard:hover p {
	visibility: hidden;
}

.landingCard:hover h3 {
	background-color: #3680A5;
}

.landingLink {
	color: white !important;
}

.cardAd {
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: white;
	display: inline-block;
}

.footerIcons {
	color: white !important;
	font-size: 20px !important;	
	background-color: #3680A5;
}

.copyright {
	float: right;
	margin-right: 30px;
	color: white;
}

.iconLink {
	background-color: #3680A5 !important; 
}

.bottom {
	background-color: #3680A5; 
}