.club-photo {
	max-width: 100%;
	max-height: 100%;
}

/* 
===================================  
Generic Element Styling 
===================================  
*/

.eventColor {
	height: 30px;
	background-color: #0592BF;
}

.event {
	min-height: 100%;
	height: 200px;
	line-height: 10px !important;
}

.location-icon {
	font-size: 36px !important;
	color: #0592BF !important;
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about, .request {
	height: 100%;
}

.removeLeftPadding {
	padding-left: 0px !important;
}

.removeBottomMargin {
	margin-bottom: 0px !important;
}

.removeTopMargin {
	margin-top: 0px !important;
}

.removeRightPadding {
	padding-right: 0px !important;
}

p {
	font-family: 'Open Sans';
}

.btn {
	background-color: #0592BF !important;
	margin-bottom: 25px;
}

h2 {
	font-family: Montserrat;
	font-size: 15px;
	margin-top: 0px;
	color: black;
}

h3 {
	font-family: Montserrat;
	font-size: 20px;
	margin-top: 0px;
}

.fa {
	color: #0592BF;
	font-size: 15px;
}

.main {
	margin-bottom: 100px;
}

nav {
	background-color: #0592BF;
	margin-bottom: 50px;
}

html {
	background-color: white;
	/*background-color: #0592BF;*/
	/*background-image: -webkit-gradient(linear,0 50%,100% 50%,color-stop(0,#FBD133),color-stop(35%,#F44336),color-stop(65%,#0592BF),color-stop(100%,#2f4f4f));*/
}

label {
	font-size: 13px;
}

.rowFix {
	margin-bottom: 0px;
}

.card {
	margin-top: 0px !important;
}

.topMargin {
	margin-top: 10px;
}

/* 
===================================  
About Section
===================================  
*/

.aboutText {
	font-size: 13px;
}



/* 
===================================  
Cards 
===================================  
*/

.faq {
	font-size: 13px;
}

/*.goldtier, .phototier, .bluetier, .webtier, .producttier, .videotier {
	float: left !important;

}*/

.label {
	color: #0592BF;
}

.portfolio {
	height: 820px;
	overflow-y: scroll;
}

/* 
===================================  
Requests Section
===================================  
*/

.datepicker {
	margin-bottom: 40px;
}

.tierSelect {
	font-size: 15px;
	margin-bottom: 15px;
}

.requestSpacing {
	margin-bottom: 25px;
}

.requestForm {
	padding: 0px !important;
}

.eventTitle {
	font-size: 17px;
	color: black;
}

.eventLocation {
	font-size: 13px;
	color: black !important;
}

.projAd {
	margin-bottom: 10px;
	font-size: 13px;
}

.submitbtn {
	margin-top: 5px !important;
}

