.icon-text {
  font-size: 10px;
  font-family: 'Open Sans';
  margin-top: 0px;
}

.officerBios {
  height: 250px;
}

.material-icons {
  color: #3C84A2;
}

.addMarginTop75  {
  margin-top: 75px !important;
}

.info-btn {
  cursor: pointer;
}

.fa-square {
  font-size: 20px;
  margin-right: 15px;
}

.cardBottomMargin {
  margin-bottom: 25px;
}

.nameFix {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
