.gold {
  background-color: #E7B03A !important;
}

.web {
  background-color: #468966 !important;
}

.photo {
  background-color: #C83353 !important;
}

.blue {
  background-color: #1B93C0 !important;
}

.video {
  background-color: black !important;
}

.product {
  background-color: #FF0894 !important;
}
