<template name="club">
  <div class="row rowTopSpacing rowBottomSpacing25">
    <div class="col l6 offset-l3 m10 offset-m1">
      <h2>Hey!</h2>
      <p><b class="blueBold">Innovative Design</b> is a family of designers, photographers, web developers, and videographers at the University of California, Berkeley. We are creative individuals who are continuously evolving by collaborating, inspiring and educating one another. It is through our different artistic tools and talents that we are able to create novel photographs, designs, videos, and websites for our peers and professional clients.</p>
      <p>For design requests, please submit the form available on the site. Unfortunately, each semester we recieve more requests than we can accept, so please try to send us yours as early as possible! If you have any other <b class="blueBold">questions</b> or concerns for the club, feel free to email us at <a href='mailto:innovativedesignatcal@gmail.com'>innovativedesignatcal@gmail.com</a>.</p>
      <p>If you're looking to <b class="blueBold">apply</b> to the club, we have an infosession at the start of every semester for prospective members. After the infosession is over, the application can be found at <a href='http://apply.innovativedesign.club'>apply.innovativedesign.club</a>. You can watch the events page for more information on the club infosession once the semester starts.</p><br>
      <h2>So, what tiers can I apply to?</h2>
      <p>The club has six tiers that students can apply to be a member on: <b class="blueBold">Blue, Gold, Photo, Video, Web and Product</b>. In addition, Innovative Design also has a dedicated marketing tier, which members can apply to after having been in InnoD for at least one semester. Those intereted in leading a tier can apply after serving at least one semester as well. You can read more about each of the individual tiers below.</p><br>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><h3>Blue & Gold Tier</h3></div>
          <div class="collapsible-body"><p>Innovative Design has two separate designs tiers, Blue and Gold. Blue Tier is a group of intermediate to advanced designers that offers design services to off-campus groups such as businesses and restaurants. Gold Tier offers graphic design education and experience for beginner to intermediate designers through providing free design services to on-campus groups.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><h3>Photo Tier</h3></div>
          <div class="collapsible-body"><p>Photo Tier is a hands-on experience in shooting professional headshots, event photography, stock photos and more. Members gain knowledge through weekly lessons in subjects such as photo-retouching in Photoshop and Lightroom, camera techniques, and studio photography. Develop your artistic style and contribute to a team of diverse skill sets. Join photo tier for experiences in almost every type of photography.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><h3>Web Tier</h3></div>
          <div class="collapsible-body"><p>Developer with an eye for design? Develop layout mockups and build websites with Web Tier! Through hands-on experience in a fast-paced environment, tier members learn new skills and put existing knowledge to use. We work for clients that are in need of technical help in modernizing their websites. We’re a team of full-stack engineers with specialized areas. We do it all.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><h3>Video Tier</h3></div>
          <div class="collapsible-body"><p>Video Tier is one of our newest tiers. Members learn how to compose and edit short films and promotional videos for Cal organizations. Tier members are able to gain experience and knowledge through exploring videography in a small group of passionate individuals.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><h3>Product Tier</h3></div>
          <div class="collapsible-body"><p>Product Tier is our newest tier. Members have the chance to work in the Invention Lab to learn about the various stages of product development and design. They are encouraged to think outside the box to find products design solutions and create appealing product design.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><h3>Marketing Tier</h3></div>
          <div class="collapsible-body"><p>Marketing Tier manages the Innovative Design brand and markets it to the campus community. They help to develop and promote events organized by the club, as well as handle new member recruitment at the start of each semester. The tier consists of videographers, photographers, web designers, and graphic designers.</p></div>
        </li>
      </ul>
    </div>
  </div>
</template>
