<template name="club">
  <div class="row rowTopSpacing rowBottomSpacing25">
    <div class="col l8 offset-l2">
      <h2>Yeah idk how to add the previous animation to this ...</h2>
      <p>There's a tutorial but that just confused me :\</p><br><br>
      <p>Innovative Design is a family of designers, photographers, web developers, and videographers at the University of California, Berkeley. We are creative individuals who are continuously evolving by collaborating, inspiring and educating one another. It is through our different artistic tools and talents that we are able to create novel photography, designs, videos, and websites for our peers and professional clients.</p>
    </div>
  </div>
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="row">
        <div class="col l2 removeLeftPadding">
          <img class="tierIcons responsive-img blue" src="img/design.png">
        </div>
        <div class="col l9 offset-l1">
          <h2>Blue & Gold Tiers</h2>
          <p>Innovative Design has two separate designs tiers, Blue and Gold. Blue Tier is a group of intermediate to advanced designers that offers design services to off-campus groups such as businesses and restaurants. Gold Tier offers graphic design education and experience for beginner to intermediate designers through providing free design services to on-campus groups.</p>
        </div>
      </div>
      <div class="row">
        <div class="col l2 removeLeftPadding">
          <img class="tierIcons responsive-img red" src="img/photo.png">
        </div>
        <div class="col l9 offset-l1">
          <h2>Photo Tier</h2>
          <p>Photo Tier is a hands-on experience in shooting professional headshots, event photography, stock photos and more. Members gain knowledge through weekly lessons in subjects such as photo-retouching in Photoshop and Lightroom, camera techniques, and studio photography. Develop your artistic style and contribute to a team of diverse skill sets. Join photo tier for experiences in almost every type of photography.</p>
        </div>
      </div>
      <div class="row">
        <div class="col l2 removeLeftPadding">
          <img class="tierIcons responsive-img green" src="img/web.png">
        </div>
        <div class="col l9 offset-l1">
          <h2>Web Tier</h2>
          <p>Developer with an eye for design? Develop layout mockups and build websites with Web Tier! Through hands-on experience in a fast-paced environment, tier members learn new skills and put existing knowledge to use. We work for clients that are in need of technical help in modernizing their websites. We’re a team of full-stack engineers with specialized areas. We do it all.</p>
        </div>
      </div>
      <div class="row">
        <div class="col l2 removeLeftPadding">
          <img class="tierIcons responsive-img black" src="img/vid.png">
        </div>
        <div class="col l9 offset-l1">
          <h2>Video Tier</h2>
          <p>Video Tier is one of our newest tiers. Members learn how to compose and edit short films and promotional videos for Cal organizations. Tier members are able to gain experience and knowledge through exploring videography in a small group of passionate individuals.</p>
        </div>
      </div>
    </div>
  </div> 
</template>