<template name="graphic">
  <div class="row rowTopSpacing">
    <div class="col l8 offset-l2 m10 offset-m1">
      <h2><u>Desi</u>gn</h2>
      <p>From branding to event marketing, banners to cover photos, our designers are here to provide you with a wide variety of possibilities in design services and consultancy.</p>
    </div>
  </div>
  <div class="row">
    <div class="col l8 offset-l2 m11 offset-m1">
      <div class="row">
        <ul class="tabs tierTabs">
          <li class="tab">
            <a class="btn-flat goldtier active" href="#gold"><p class="flow-text">On Campus</p></a>
          </li>
          <li class="tab">
            <a class="btn-flat bluetier" href="#blue"><p class="flow-text">Off Campus</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 removeLeftPadding removeRightPadding">
      <div class="row">     
        
        <div id="blue" class="col l12 removeLeftPadding removeRightPadding">
          <div class="row">
            <div class="col l12 removeRightPadding"> 
              <div class="row">
                <div class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each blue.column1}}
                      <img class="work materialboxed responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each blue.column2}}
                      <img class="work materialboxed responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each blue.column3}}
                      <img class="work materialboxed responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
    
        <div id="gold" class="col l12 removeLeftPadding removeRightPadding">
          <div class="row">
            <div class="col l12 removeRightPadding"> 
              <div class="row">
                <div class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each gold.column1}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each gold.column2}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each gold.column3}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
              </div>
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</template>