<template name="graphic">
  <div class="row rowTopSpacing">
    <div class="col l8 offset-l2">
      <h2><u>Desi</u>gn</h2>
      <p>From branding to event marketing, banners to cover photos, our designers are here to provide you with a wide variety of possibilities in design services and consultancy.</p>
    </div>
  </div>
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="row">
        <ul class="tabs tierTabs">
          <li class="tab">
            <a class="btn-flat goldtier active" href="#gold"><p class="flow-text">Gold: On Campus</p></a>
          </li>
          <li class="tab">
            <a class="btn-flat bluetier" href="#blue"><p class="flow-text">Blue: Off Campus</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l8 offset-l2 removeLeftPadding removeRightPadding">
      <div class="row">     
        
        <div id="blue" class="col l12 removeLeftPadding removeRightPadding">
          <div class="row">
            <div class="col l12 removeRightPadding"> 
              <div class="row">
                <div id="test1" class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each blue.page1.column1}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each blue.page1.column2}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each blue.page1.column3}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
       
                <div id="test2" class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each blue.page2.column1}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each blue.page2.column2}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each blue.page2.column3}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
            
                <div id="test3" class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each blue.page3.column1}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each blue.page3.column2}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each blue.page3.column3}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
              </div>
              <div class="row">
                <ul class="tabs tabs100">
                  <li class="tab col l1">
                    <a class="active" href="#test1">
                      <p>1</p>
                    </a>
                  </li>
                  <li class="tab col l1">
                    <a href="#test2">
                      <p>2</p>
                    </a>
                  </li>
                  <li class="tab col l1">
                    <a href="#test3">
                      <p>3</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
    
        <div id="gold" class="col l12 removeLeftPadding removeRightPadding">
          <div class="row">
            <div class="col l12 removeRightPadding"> 
              <div class="row">
                <div id="gold1" class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each gold.page1.column1}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each gold.page1.column2}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each gold.page1.column3}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
                <div id="gold2" class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each gold.page2.column1}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each gold.page2.column2}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each gold.page2.column3}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
                <div id="gold3" class="col l12 removeLeftPadding">
                  <div class="col l4 removeLeftPadding">
                    {{#each gold.page3.column1}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4">
                    {{#each gold.page3.column2}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                  <div class="col l4 removeRightPadding">
                    {{#each gold.page3.column3}}
                      <img class="work responsive-img" src="{{this.image.url}}">
                    {{/each}}
                  </div>
                </div>
              </div>
             
              <div class="row">
                <ul class="tabs tabs100">
                  <li class="tab col l1">
                    <a class="active" href="#gold1">
                      <p>1</p>
                    </a>
                  </li>
                  <li class="tab col l1">
                    <a href="#gold2">
                      <p>2</p>
                    </a>
                  </li>
                  <li class="tab col l1">
                    <a href="#gold3">
                      <p>3</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</template>