<template name="video">
  <div class="row rowTopSpacing">
    <div class="col l8 offset-l2 m10 offset-m1">
      <h2><u>Vid</u>eo</h2>
      <p>Our videographers have experience working with both on and off campus organizations and producing a wide range of content. With our marketing team, they redesigned the current video on this site's landing page as part of Innovative Design's Fall 2015 recruiting process. They have also created videos for kickstarter campaigns, club promotions, and campus events.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l6 offset-l3 m10 offset-m1">
      <div class="video-container">
        <iframe class="responsive-video" src="https://player.vimeo.com/video/138108603" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l6 offset-l3 m10 offset-m1">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JdHPkTHEqDE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l6 offset-l3 m10 offset-m1">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mEIF6YhA6G8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l6 offset-l3 m10 offset-m1">
      <div class="video-container">
        <iframe class="responsive-video" src="https://www.youtube.com/embed/1xccW0vsmlo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l6 offset-l3 m10 offset-m1">
      <div class="video-container">
         <iframe src="https://player.vimeo.com/video/128323246" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l6 offset-l3 m10 offset-m1">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8PgZ2_C23Zw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
</template>
