<template name="web">
  <div class="row rowTopSpacing">
    <div class="col l8 offset-l2 m10 offset-m1">
      <h2><u>We</u>b</h2>
      <p>Our team of full-stack developers works with clients that are in need of technical help with their websites. We have experience in modernizing existing sites and building them from scratch. Throughout the process, we work with our graphic design team to ensure there is consistency between site design and organization branding. </p>
    </div>
  </div> 
  <br>
  <br>
  <div class="row">
  	<div class="col l4 offset-l2 m5 offset-m1">
	  	<h3>Celli @ Berkeley</h3>
      <p>Celli is an on campus musical organization that reached out to discuss a potential redesign of their website. They wanted to make their content and events more accesible to users while having the site more accurately represent them as a profession musicians group at UC Berkeley. Check out the start and end points below.</p>
      <br>
      <div class="row">
  	  	<div class="col l4 removeLeftPadding center">
          <a target="_blank" class="webPortfolioLinks" href="http://celli-berkeley.herokuapp.com/">New Site</a>
        </div>
        <div class="col l4 center">
          <a target="_blank" class="webPortfolioLinks" href="https://celli.bandcamp.com/">Old Site</a>
        </div>
        <div class="col l4 center">
          <a target="_blank" class="webPortfolioLinks" href="https://github.com/InnoD/Celli">Github</a>
        </div>
      </div>  
    </div>
    <div class="col l4 m5">
      <h3>Innovative Design</h3>
      <p>At the start of the Fall 2015 semester, the website for Innovative Design got a new look, and the content available through the site was expanded. The form to request work from our organization was made more readily available to users, and a backend content management system was implemented to accomodate the influx of design work on the site. We hope you enjoy it!</p>
      <br>
      <div class="row">
        <div class="col l12 center removeLeftPadding">
          <a target="_blank" class="webPortfolioLinks" href="https://github.com/bsmarimon/InnovativeDesign">Github</a>
        </div>
      </div>  
    </div>
  </div>
</template>