<template name="lesson">
  <div class="main">
    <section class="title">
      <span class="preheader">Lesson {{this.lesson}}</span>
      <h1></h1>
    </section>
    <a class="download" ng-if="download" href="{{this.link}}" target="_blank">Download files</a>
    <br><br>
    <div class="row">
      <div class="col l8 offset-l2">
        <section class="line">
          <div class="section-img">
            <img src="/img/lesson{{this.lesson}}.png" />
          </div>
          
          <h2>Tutorial</h2>
          <p>{{this.description}}</p>

        </section>
        <section class="line" ng-if="download">
          <div class="section-img">
            <img src="/img/hw{{this.lesson}}.png" />
          </div>
          <h2>Homework</h2>
          <p>{{this.homework}}</p>
        </section>
      </div>
    </div>
  </div>
</template>

<template name="lesson1">
  {{#with one}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson2">
  {{#with two}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson3">
  {{#with three}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson4">
  {{#with four}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson5">
  {{#with five}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson6">
  {{#with six}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson7">
  {{#with seven}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson8">
  {{#with eight}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson9">
  {{#with nine}}
    {{> lesson}}
  {{/with}}
</template>

<template name="lesson10">
  {{#with ten}}
    {{> lesson}}
  {{/with}}
</template>

<!-- I don't remember why I did this, some problem with rendering and this was a quick fix ~ -->

<template name="lesson11">
  <div class="main">
    <section class="title">
      <span class="preheader">Lesson 11</span>
      <h1></h1>
    </section>
    {{#if show}}
    <a class="download" ng-if="download" href="#!" target="_blank">Download files</a>
    <br><br>
    <div class="row">
      <div class="col l8 offset-l2">
        <section class="line">
          <div class="section-img">
            <img src="/img/lesson{{this.lesson}}.png" />
          </div> 
          <h2>Tutorial</h2>
          <p>{{this.description}}</p>
        </section>
        <section class="line" ng-if="download">
          <div class="section-img">
            <img src="/img/lesson{{this.lesson}}.png" />
          </div>
          <h2>Homework</h2>
          <p>None</p>
        </section>
      </div>
    </div>
    {{/if}}
  </div>
</template>
