<template name="about">
	<div class="row">
		<div class="col l8 offset-l2">
			<div class="card">
				<div class="card-content">
		  			<div class="row">
		  				<br>
		  				<br>
		  				<div class="col l7">
		  					<h3>What</h3>
		  					<p>Innovative Design is a family of graphic designers, web designers, videographers, product designers & photographers. We are creative individuals who are continuously evolving by collaborating, inspiring and educating one another. It is through our different artistic tools and talents that we are able to create novel photography and designs for our peers and professional clients.</p>
		  					<br>
		  					<br>
		  					<h3>Who</h3>
			  				<p>Every member of Innovative Design is part of a tier, which focuses on a specific type of design. Blue Tier and Gold Tier are our graphic design teams, and videography, photography & web development all have their own individual tiers as well. This last semester, we also added Produc Tier, where members focus on developing and learning product design. Sound interesting? Check out the team pages on the tab above.</p>
			  				<br>
			  				<br>	
			  				<h3>FAQ</h3>
			  				<div class="row">
			  					<div class="col l5 removeLeftPadding">
				  					<h2>How can I get in contact with the club?</h2>
				  					<p>Feel free to shoot us a message through email or our Facebook page, both of which can be found in the contact tab above. You can also stop by and chat with us at our table on Sproul.</p>
				  				</div>
				  				<div class="col l5 offset-l2 removeRightPadding">
				  					<h2>How can I request design work?</h2>
				  					<p>Check out the request tab above. After submitting your design request, an officer should reach out in a couple days to start discussing logistics.</p>
				  				</div>
				  			</div>
				  			<br>
				  			<div class="row">
				  				<div class="col l5 removeLeftPadding">
				  					<h2>How can I join Innovative Design?</h2>
				  					<p>Watch out for our club infosessions a couple weeks into each semester. We'll be releasing applications shortly after for each of our tiers.</p>
				  				</div>
				  			</div>

		  				</div>
		  				<div class="col l4 offset-l1">
		  					<img class="aboutPhotos" src="img/bluetier2.jpg">
		  					<img class="aboutPhotos" src="img/bluetier1.jpg">
		  				</div>
		  			</div>
				</div>
			</div>
		</div>
	</div>
</template>