<template name="contact">
	<div class="row contactTopSpacing">
		<div class="col l6 offset-l3">
			<div class="card">
		  		<div class="card-content contactMargins">

		  			<div class="row">
			  			<div class="col l8 offset-l2">
			  				<h3>Hey!</h3>
		  					<p>Please send any design requests through the requests form, which can be found at the top of this page. For all other inqueries, feel free to send us an email or Facebook message. An officer should get back to you with a response within a couple days.</p>
		  				</div>
		  			</div>
					<br>
					<br>
					<div class="row">
						<div class="row">
							<div class="col l8 offset-l2 m12">
							    <ul class="tabs">
							        <li class="tab col l3 m3">
							        	<a href="#test1">
							        		<i class="fa fa-facebook contactIcons"></i>
							        	</a>
							        </li>
							     	<li class="tab col l3 m12">
							        	<a class="active" href="#test2">
							        		<i class="fa fa-envelope-o contactIcons"></i>
							        	</a>
							        </li>
							        <li class="tab col l3 m3">
							        	<a href="#test3">
							        		<i class="fa fa-twitter contactIcons"></i>
							        	</a>
							        </li>
							    </ul>
							</div>
						</div>
						<div id="test1" class="col l12 m12 center">www.facebook.com/InnovativeDesignUCB</div>
						<div id="test2" class="col l12 m12 center">innovativedesignatcal@gmail.com</div>
						<div id="test3" class="col l12 m12 center">@InnoDatCAL</div>
					</div>
		  		</div>
		  	</div>
		</div>
	</div>
</template>
