<template name="content">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<nav>
  		<div class="nav-wrapper">
	     	<a href="#!" class="brand-logo"><img class="logo" src="img/logo-white.png"></a>
			<ul class="right hide-on-med-and-down">
		    	<li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="#!">Officers</a></li>
		    	<li><a href="#!">Contact</a></li>
		  	</ul>
		  	<ul id="slide-out" class="side-nav">
			    <li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="#!">Officers</a></li>
		    	<li><a href="#!">Contact</a></li>
		  	</ul>
	  		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	  	</div>
	</nav>

	<div class="row rowFix">
		<div class="col l3 offset-l1">
		  	<div class="card">
		  		<div class="card-content request">
		  			<form class="col l12 requestText requestForm">
	  					<div class="row rowFix">
							<div class="col l12">
								<h3>Officer</h3>
							</div>
						</div>
				       	<div class="row rowFix">  
				        	<div class="input-field col l12">	        		
				          		<input id="first_name" type="text">
				          		<label for="first_name">Name</label>
				        	</div>
				        	<div class="input-field col l12">	        		
				          		<input id="year" type="text">
				          		<label for="year">Year</label>
				        	</div>	
				        	<div class="input-field col l12">	        		
				          		<input id="position" type="text">
				          		<label for="position">Position</label>
				        	</div>			        	
				        	<div class="input-field col l12">	        		
				          		<input id="major" type="text">
				          		<label for="major">Major</label>
				        	</div>				        	
				        	<div class="input-field col l12">	        		
				          		<input id="twitter" type="text">
				          		<label for="twitter">Twitter</label>
				        	</div>				        	
				        	<div class="input-field col l12">	        		
				          		<input id="instagram" type="text">
				          		<label for="instagram">Instagram</label>
				        	</div>		
				        	<div class="input-field col l12">	        		
				          		<input id="github" type="text">
				          		<label for="github">Github</label>
				        	</div>	        	
				        </div>
					</form>
		  		</div>
			</div>	
		</div>
		<div class="col l3 offset-l1">
		  	<div class="card">
		  		<div class="card-content request">
		  			<form class="col l12 requestText requestForm">
	  					<div class="row rowFix">
							<div class="col l12">
								<h3>Design</h3>
							</div>
						</div>
				      	<div class="row rowFix">
				      		<div class="col l12 projAd">
				          		<p>Submit your design request through the form below. Please email the club if you have any other inquiries.</p>
				        	</div>
				        </div>
				       	<div class="row rowFix">  
				        	<div class="input-field col l12">	        		
				          		<input id="first_name" type="text">
				          		<label for="first_name">Name</label>
				        	</div>
				        	<div class="input-field col l12">	        		
				          		<input id="year" type="text">
				          		<label for="year">Year</label>
				        	</div>				        	
				        	<div class="input-field col l12">	        		
				          		<input id="major" type="text">
				          		<label for="major">Major</label>
				        	</div>				        	
				        	<div class="input-field col l12">	        		
				          		<input id="twitter" type="text">
				          		<label for="twitter">Twitter</label>
				        	</div>				        	
				        	<div class="input-field col l12">	        		
				          		<input id="instagram" type="text">
				          		<label for="instagram">Instagram</label>
				        	</div>		
				        	<div class="input-field col l12">	        		
				          		<input id="github" type="text">
				          		<label for="github">Github</label>
				        	</div>	        	
				        </div>
					</form>
		  		</div>
			</div>	
		</div>


	</div>
</template>
