<template name="contact">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<nav>
  		<div class="nav-wrapper">
	     	<a href="/" class="brand-logo"><img class="logo" src="img/logo-white.png"></a>
			<ul class="right hide-on-med-and-down">
		    	<li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="/contact">Contact</a></li>
		  	</ul>
		  	<ul id="slide-out" class="side-nav">
			    <li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="/contact">Contact</a></li>
		  	</ul>
	  		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	  	</div>
	</nav>
	<div class="row main">
		<div class="col l4 offset-l4">
			<div class="card">
		  		<div class="card-content">
		  			<div class="row">
			  			<div class="col l12">
			  				<h3>Hey!</h3>
		  					<p>Please send any design requests through the requests form, which can be found on the home page. For all other inqueries, feel free to send us an email or Facebook message. An officer should get back to you with a response within a couple days.</p>
		  				</div>
		  			</div>
					
					<div class="row">
						<div class="row">
							<div class="col l12 m12">
							    <ul class="tabs">
							        <li class="tab col l3 m12">
							        	<a class="active" href="#test1">
							        		<i class="fa fa-envelope-o contactIcons"></i>
							        	</a>
							        </li>
							        <li class="tab col l3 m3">
							        	<a href="#test2">
							        		<i class="fa fa-facebook contactIcons"></i>
							        	</a>
							        </li>
							        <li class="tab col l3 m3">
							        	<a href="#test3">
							        		<i class="fa fa-twitter contactIcons"></i>
							        	</a>
							        </li>
							    </ul>
							</div>
						</div>
						<div id="test1" class="col l12 m12 center">innovativedesignatcal@gmail.com</div>
						<div id="test2" class="col l12 m12 center">www.facebook.com/InnovativeDesignUCB</div>
						<div id="test3" class="col l12 m12 center">@InnoDatCAL</div>
					</div>
		  		</div>
			</div>
		</div>
	</div>
</template>
