<template name="decal">
  <div class="main">
    <section class="title">
      <div class="col l4 offset-l4">
        <p>A 2-unit DeCal lessons for beginner to intermediate level designers, open to all interested Berkeley students.</p>
 <!--        <h3 class="h2white openRequests cardAd" href="/decal">Apply</h3> -->
      </div>
    </section>
  </div>
  <div class="row rowFix">

  <!--
  Squares done by /shanawho
  https://github.com/shanawho/decal
  -->

  <ul class="squares">
      {{#each lessons}}
      <a href="/decal/lesson/{{this.lesson}}" class="lesson-link">
        <li class="square square-{{this.lesson}}">
          <div class="square-blurb">
            <div class="square-text">
              <span class="week">Lesson {{this.lesson}}</span>
              <span class="lesson-title">{{this.title}}</span>
            </div>
            <div class="overlay"></div>
          </div>
        </li>
      </a>
      {{/each}}
  </ul>
  </div>
</template>
