<template name="events">
  <div class="row rowTopSpacing">
    <div class="col l6 offset-l3">
      <div class="row">
        {{#each events}}
        <div class="col l10 offset-l1 m10 offset-m1">
          <div class="card cardBottomMargin">
            <div class="card-image">
                <a target="_blank" href="{{this.facebook_url}}"><img src="{{this.image.url}}"></a>
            </div>
            <div class="card-content">
              <div class="row rowFix">
                <div class="col l12 m12">
                  <h3>{{this.title}}</h3>
                </div>
                <div class="col l9 m9">
                  <p>{{this.location}}</p>
                </div>
                <div class="col l9 m9">
                  <p>{{this.date}}</p>
                </div>
                <div class="col l9 m9">
                  <p>{{this.time}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <br>
</template>
