<template name="graphic">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col l8 offset-l2">
      <h2><u>Desi</u>gn</h2>
      <p>From banding to event marketing, banners to cover photos, Innovative Design designers are here to provide you with a wide variety of possibilities in design services and consultancy.</p>
    </div>
  </div>
  <div class="row">
    <div class="col l8 offset-l2 removeLeftPadding">
      <div class="row">
            <div id="test1" class="col l12 m12">www.facebook.com/InnovativeDesignUCB
            </div>
            <div id="test2" class="col l12 m12">innovativedesignatcal@gmail.com
            </div>
            <div id="test3" class="col l12 m12">@InnoDatCAL
            </div>
            <br><br><br><br>
            <ul class="tabs">
              <li class="tab col l1">
                <a class="active" href="#test1">
                  <p>1</p>
                </a>
              </li>
              <li class="tab col l1">
                <a href="#test2">
                  <p>2</p>
                </a>
              </li>
              <li class="tab col l1">
                <a href="#test3">
                  <p>3</p>
                </a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</template>