u {
	border-bottom: solid 2px #000000;
    display: inline;
    padding-bottom: 5px;
    text-decoration: none;
}

.tabs .tab {
	text-transform: none !important;
}

.tabs100 .tab a p {
	color: #0493BF !important;
	text-decoration: none;
}

.tabs .tab a p {
	text-decoration: none:
}

.tabs100 {
	width: 100px !important;
}

.indicator {
	visibility: hidden;
}

.tabs100 .active {
	font-weight: bold;
}

.tierTabs .tab {
	text-align: left !important;
	width: 20% !important;
}


.blue {
	background-color: white !important;
	line-height: 0px !important;
	width: 40% !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-top: 5px;
	text-align: center;
	height: 50px !important;
	border: 2px solid #0493BF;
}

.blue > p {
	color: #0493BF !important;
	text-transform: none !important;
	position: relative;
}

.blue:hover {
	background-color: white !important;
	color: #0493BF !important;
}

.blue.active {
	background-color: #0493BF !important;
	line-height: 0px !important;
	width: 200px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 5px;
	text-align: center;
	height: 50px !important;
}

.blue.active > p {
	color: white !important;
	text-transform: none !important;
}

.blue.active:hover {
	background-color: #0493BF !important;
	color: white !important;
}

