<template name="header">
  <head>
    <title>Innovative Design</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="As Cal's student run creative agency, we're a family of creatives providing design, photo, and other services, and we run several events such as the CMYK designathon and DeCals for learning more about design.">
    <!-- Facebook Open Graph -->
    <meta property="og:title" content="Hello! | Innovative Design"/>
    <meta property="og:url" content="http://innovativedesign.club" />
    <meta property="og:image" content="http://innovativedesign.club/img/logo-blue.png"/>
    <meta property="og:site_name" content="Innovative Design"/>
    <meta property="og:description" content="As Cal's student run creative agency, we're a family of creatives providing design, photo, and other services, and we run several events such as the CMYK designathon and DeCals for learning more about design."/>
    <meta property="og:locale" content="en_US" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <script src="/scripts/snowfall.js"></script>
    <script src="/scripts/snowfall.jquery.js"></script>
    <title>Innovative Design</title>
  </head>
</template>