<template name="landing">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<nav>
  		<div class="nav-wrapper">
	     	<a href="#!" class="brand-logo"><img class="logo" src="img/logo-white.png"></a>
			<ul class="right hide-on-med-and-down">
		    	<li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="#!">Contact</a></li>
		  	</ul>
		  	<ul id="slide-out" class="side-nav">
			    <li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="#!">Contact</a></li>
		  	</ul>
	  		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	  	</div>
	</nav>

	<div class="row main">
		<div class="col l5 offset-l2 m10 offset-m1">
		  	<div class="card">
		  		<div class="card-image">
              		<img src="img/clubphoto.jpg">
            	</div>
		  		<div class="card-content">
	  				<h3>Innovative Design is a family of designers, photographers, web developers, and videographers at the University of California, Berkeley.</h3>
	  				<p class="aboutText">We are creative individuals who are continuously evolving by collaborating, inspiring and educating one another. It is through our different artistic tools and talents that we are able to create novel photography and designs for our peers and professional clients.</p>
		  		</div>
			</div>
			<div class="col l4 removeLeftPadding m4">
				<div class="card event">
			  		<div class="card-image eventColor1">
	            	</div>					
			  		<div class="card-content">
			  			<div class="row rowFix">
			  				<div class="col l12">
				  				<h2>Club Infosession</h2>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-location-arrow"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">Dwinelle Hall</p>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-calendar"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">September 1</p>
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-clock-o"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">7-8 PM</p>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-facebook"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">www.facebook.com/event</p>
			  				</div>
			  			</div>
			  		</div>
			  	</div>
			</div>
			<div class="col l4 m4">
				<div class="card event">
			  		<div class="card-image eventColor2">
	            	</div>					
			  		<div class="card-content">
			  			<div class="row rowFix">
			  				<div class="col l12">
				  				<h2>DeCal Infosession</h2>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-location-arrow"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">Wheeler Hall</p>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-calendar"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">September 3</p>
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-clock-o"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">7-8 PM</p>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-facebook"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">www.facebook.com/event</p>
			  				</div>
			  			</div>
			  		</div>
			  	</div>
			</div>
			<div class="col l4 m4 removeRightPadding">
				<div class="card event">
			  		<div class="card-image eventColor3">
	            	</div>					
			  		<div class="card-content">
			  			<div class="row rowFix">
			  				<div class="col l12">
				  				<h2>CYMK Designathon</h2>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-location-arrow"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">Sutardja Dai Hall</p>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-calendar"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">November 13</p>
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-clock-o"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">10AM - 5PM</p>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-facebook"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">www.facebook.com/event</p>
			  				</div>
			  			</div>
			  			<div class="row rowFix">
			  				<div class="col l1">
			  					<i class="fa fa-2x fa-ticket"></i>
			  				</div>
			  				<div class="col l10">
			  					<p class="icon-text">Eventbrite</p>
			  				</div>
			  			</div>
			  		</div>
			  	</div>
			</div>
		</div>
		<div class="col l3 m10 offset-m1">
		  	<div class="card">
		  		<div class="card-content request">
		  			<form class="col l12 requestText requestForm">
	  					<div class="row rowFix">
							<div class="col l12">
								<h3>Requests</h3>
							</div>
						</div>
				      	<div class="row rowFix">
				      		<div class="col l12 projAd">
				          		<p>Submit your design request through the form below. Please email the club if you have any other inquiries.</p>
				        	</div>
				        </div>
				       	<div class="row rowFix">  
				        	<div class="input-field col l12">	        		
				          		<input id="first_name" type="text">
				          		<label for="first_name">Name</label>
				        	</div>
				        </div>
				        <div class="row rowFix">  
					        <div class="input-field col l12">
				        	  	<input id="email" type="email">
				          		<label for="email">Email</label>
				        	</div>
				        </div>
						<div class="row rowFix">  
					        <div class="input-field col l12">
				        	  	<input id="ph one" type="text">
				          		<label for="phone">Phone</label>
				        	</div>
				        </div>
				        <div class="row rowFix">  
				        	<div class="input-field col l12">
				        	  	<input id="organization" type="text">
				          		<label for="organization">Organization</label>
				        	</div>
				        </div>
				        <div class="row rowFix requestSpacing">    
				        	<div class="input-field col s12">
				        		<input type="date" placeholder="Proposed Deadline" class="datepicker">
				        		<label for="date"></label>
				        	</div>
				        </div>
				        <div class="row rowFix">  
				        	<div class="col s12">
					        	<label class="tierSelect">Project Category</label>
							    <select id="dropdown" class="browser-default tierSelect">
								      <option value="" disabled="" selected="">Choose your option</option>
								      <option value="1">Videography</option>
								      <option value="2">Photography</option>
								      <option value="3">Graphic Design</option>
								      <option value="4">Web Design</option>
							    </select>
							</div>
						</div>
						<div class="row rowFix">  
					    	<div class="input-field col s12">
				            	<textarea id="textarea1" class="materialize-textarea additionalInfo" length="500"></textarea>
            					<label for="textarea1">Project Description</label>
					      	</div>
					    </div>
					    <div class="row rowFix">  
					      	<div id="submitbtn" class="col s12">
						      	<button class="btn waves-effect waves-light submitbtn" type="submit" name="action">Send
									<i class="mdi-content-send right"></i>
								</button>
							</div>
						</div>
					</form>
		  		</div>
			</div>	
		</div>

	</div>
</template>
