<template name="landing">
  <div class="row rowFix">
    <video autoplay muted loop class="responsive-video">
      <source src="img/innod1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <!-- <div class="col l12 m12 removeLeftPadding removeRightPadding">
      <div class="row">
        <div class="col l4 m12 removeLeftPadding hide-on-med-and-down">
          <div class="card landingCard">
            <div class="card-content center">
              <div class="row">
                <div class="col l10 offset-l1">
                  <p>Providing creative services for organizations, events, and individuals since 2008. We serve Berkeley student groups for free.</p>
                  <h3 class="h2white modal-trigger openRequests cardAd" href="#modal1">Send a Request</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m12 removeLeftPadding removeRightPadding hide-on-large-only">
          <div class="card landingCard">
            <div class="card-content center">
              <div class="row">
                <div class="col l10 offset-l1">
                  <p>Providing creative services for organizations, events, and individuals since 2008. We serve Berkeley student groups for free.</p>
                  <h3 class="h2white modal-trigger openRequests cardAd" href="#modal1">Send a Request</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m12 removeLeftPadding hide-on-med-and-down">
          <div class="card landingCard">
            <div class="card-content center">
                <div class="row rowFix">
                  <div class="col l10 offset-l1">
                    <p>Home for creatives and enthusiasts in graphic design, photography, videography, web design and product design at UC Berkeley.</p>
                    <h3 class="h2white cardAd openRequests"><a class="landingLink" href="/application">Join Us</a></h3>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col l4 m12 removeLeftPadding removeRightPadding hide-on-large-only">
          <div class="card landingCard">
            <div class="card-content center">
                <div class="row rowFix">
                  <div class="col l10 offset-l1">
                    <p>Home for creatives and enthusiasts in graphic design, photography, videography, web design and product design at UC Berkeley.</p>
                    <h3 class="h2white cardAd openRequests"><a class="landingLink" href="/application">Join Us</a></h3>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col l4 m12 removeLeftPadding removeRightPadding">
          <div class="card landingCard">
            <div class="card-content center">
              <div class="row rowFix">
                <div class="col l10 offset-l1">
                  <p>Offering 2-unit DeCal lessons for beginner to intermediate level designers, open to all interested Berkeley students.</p>
                  <h3 class="h2white cardAd openRequests"><a class="landingLink" href="/decal">See More</a></h3>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div> -->
  </div> 
  <div class="row rowFix bottom" id="bottom">
    <br>
    <div class="col l4 offset-l4 m4 offset-m4 center">    
      <a target="_blank" href="https://www.facebook.com/InnovativeDesignUCB" class="iconLink"><i class="fa footerIcons fa-facebook-square"></i></a> &nbsp;
      <a target="_blank" href="https://twitter.com/innodatcal" class="iconLink"><i class="fa footerIcons fa-twitter-square"></i></a>
    </div>
    <div class="col l4">
      <h3 class="copyright">&copy; Innovative Design 2016</h3>
    </div>
    <br>
  </div>
  <script>
  </script>
</template>
