<template name="landing">

  <head>
    <script src="/scripts/snowfall.js"></script>
    <script src="/scripts/snowfall.jquery.js"></script>
  </head>

  <!--   Uncomment for recruiting -->

  <div class="row rowFix hide-on-med-and-down center">
    <video muted loop class="responsive-video">
      <source src="img/spring15.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <!--
  <div class="row hide-on-med-and-down">
    <div class="winterBack center col l12 m8 offset-m2">
      <p class="helloWinter">Happy holidays from Innovative Design</p>
    </div>
  </div>
  <div class="row hide-on-large-only">
    <div class="winterBackMobile center">
      <p class="helloWinter">Happy holidays!</p>
    </div>
  </div>
  -->


<!--   <div class="row rowFix hide-on-large-only mobileBody">
    <div class="center col m6 offset-m3 s6 offset-s3">
      <img class="mobileVideo" src="/img/logo-white.png">
    </div>
    <div class="col m6 offset-m3 center">
      <br>
      <p class="mobileCheckout">Check out our website on a larger device window to see our Fall 2015 recruitment video!</p>
    </div>
  </div> -->
  <div class="row rowFix bottom colorChange" id="bottom">
    <br>
    <div class="col l4 offset-l4 m12 s12 center">
      <a target="_blank" href="https://www.facebook.com/InnovativeDesignUCB" class="iconLink"><i class="fa footerIcons colorChange fa-facebook-square"></i></a> &nbsp;
      <a target="_blank" href="https://instagram.com/innodatcal/" class="iconLink"><i class="fa footerIcons colorChange fa-instagram"></i></a> &nbsp;
      <a target="_blank" href="https://twitter.com/innodatcal" class="iconLink"><i class="fa footerIcons colorChange fa-twitter-square"></i></a>
      <br>
      <br>
      <h3 class="copyright">&copy; Innovative Design 2016</h3>
      <br>
    </div>
  </div>
</template>
