<template name="navbar">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>Innovative Design</title>

  <div class="row rowFix hide-on-large-only">
    <nav>
      <div class="nav-wrapper ">
        <a href="/" class="brand-logo"><img class="logo hide-on-med-and-down" src="/img/logo-white.png"></a>
        <ul class="right hide-on-med-and-down navText ">
        </ul>
        <ul id="slide-out" class="side-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/club">Club</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/decal">Decal</a></li>
          <li><a class="modal-trigger" href="#modal1">Requests</a></li>
          <li><a href="/photo">Photo</a></li>
          <li><a href="/graphic">Graphic</a></li>
          <li><a href="/video">Video</a></li>
          <li><a href="/web">Web</a></li>
          <li><a href="/product">Product</a></li>
<!--      <li><a href="/alumni">Alumni</a></li> -->
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </div>

  <div class="row colorChange rowFix hide-on-med-and-down">
    <ul id="dropdown1" class="colorChange dropdown-content">
      <li class="colorChange"><a class="colorChange" href="/photo">Photo</a></li>
      <li class="colorChange"><a class="colorChange" href="/graphic">Graphic</a></li>
      <li class="colorChange"><a class="colorChange" href="/video">Video</a></li>
      <li class="colorChange"><a class="colorChange" href="/web">Web</a></li>
      <li class="colorChange"><a class="colorChange" href="/product">Product</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content colorChange">
      <li class="colorChange"><a class="colorChange" href="/officers">Officers</a></li>
      <li class="colorChange"><a class="colorChange" href="/members">Members</a></li>
      <!--  <li><a href="/alumni">Alumni</a></li> -->
    </ul>
    <nav class="colorChange centerThings">
      <div class="nav-wrapper colorChange">
        <a href="/" class="brand-logo hide-on-med-and-down"><img class="logo hide-on-med-and-down" src="/img/logo-white.png"></a>
        <ul class="right hide-on-med-and-down navText colorChange">
          <li class="colorChange"><a class="dropdown-button colorChange" href="#!" data-activates="dropdown1">Work</a></li>
          <li class="colorChange"><a class="colorChange" href="/club">Club</a></li>
          <li class="colorChange"><a class="dropdown-button colorChange" href="#!" data-activates="dropdown2">People</a></li>
          <li class="colorChange"><a class="colorChange" href="/events">Events</a></li>
          <li class="colorChange"><a class="colorChange" href="/decal">Decal</a></li>
          <li class="colorChange"><a id="requestclick" class="modal-trigger colorChange" href="#modal1">Requests</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/club">Club</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/decal">Decal</a></li>
          <li><a class="modal-trigger" href="#modal1">Requests</a></li>
          <li><a href="/officers">Officers</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/photo">Photo</a></li>
          <li><a href="/graphic">Graphic</a></li>
          <li><a href="/video">Video</a></li>
          <li><a href="/web">Web</a></li>
          <li><a href="/product">Product</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </div>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-footer">
        <a href="/" id="requestclick" class="modal-action modal-close"><i id="requestclick" class="material-icons right closeFormBtn">close</i></a>
      </div>
      <div class="row requestsFormPadding">
        <div class="col l6 offset-l3 m12">
          <div class="card-content request">
            {{#if open}}
              <div class="row rowFix">
                <div class="col l8 offset-l2 m8 offset-m2">
                  <p>Hi. Unfortunately, we are not taking design requests at the moment while we process member applications for the Fall 2015 term. We will resume taking requests near the end of September.</p>
                  <p>Sincerely,<br>Innovative Design</p>
                  <br>
                </div>
              </div>
            {{else}}
            <div class="row rowFix">
              <div class="col l12 m10 offset-m1">
                <h3 class="h3black">Please submit design requests through the form below.</h3>
              </div>
            </div>            
            <form class="col l12 m10 offset-m1 requestForm" action="https://formaholic.com/f/6c6343a61ddc6f24" method="POST">
              <div class="row rowFix">  
                <div class="input-field col l6 m6">              
                    <input id="first_name" name="name" type="text">
                    <label for="first_name">Name</label>
                </div>
         
                <div class="input-field col l6 m6">
                    <input id="email" name="email" type="email">
                    <label for="email">Email</label>
                </div>
              </div>
               <div class="row rowFix">  
                <div class="input-field col l6 m6">
                    <input id="phone" name="Phone" type="text">
                    <label for="phone">Phone</label>
                </div>

                <div class="input-field col l6 m6">
                    <input name="Organization Name" id="organization" type="text">
                    <label for="organization">Organization Name</label>
                </div>
              </div>
              <div class="row rowFix textfieldTopSpacing">  
                <div class="input-field col l12 m12">
                  <textarea id="textarea1" name="Organization Description" class="materialize-textarea" length="250"></textarea>
                  <label for="textarea1">Organization Description</label>
                </div>
              </div>
              <div class="row rowFix">    
                <div class="col l6 m6">
                  <label class="tierSelect">&nbsp;</label>
                  <select id="dropdown1" name="On/Off campus" class="browser-default tierSelect">
                      <option value="" disabled="" selected="">Are you on or off campus?</option>
                      <option value="on">On</option>
                      <option value="off">Off</option>
                  </select>
                </div>
                <div class="input-field col l6 m6">
                  <input id="date" type="date" name="ProposedDeadline" placeholder="Proposed Deadline" class="datepicker">
                  <label for="date"></label>
                </div>
              </div>
              <div class="row rowFix">
                <div class="col l6 m6">
                  <label class="tierSelect">&nbsp;</label>
                  <select id="dropdown2" name="Design Category" class="browser-default tierSelect">
                    <option value="" disabled="" selected="">Project Category</option>
                    <option value="videography">Videography</option>
                    <option value="photography">Photography</option>
                    <option value="graphicdesign">Graphic Design</option>
                    <option value="webdesign">Web Design</option>
                  </select>
                </div>
              </div>
            {{#if video}}
              <div class="row">  
                <div class="input-field col l12 m12">              
                  <input id="shoot_location" name="Proposed Video Shoot Location and Time" type="text">
                  <label for="shoot_location">Proposed Shoot Location and Time</label>
                </div>  
              </div>
            {{/if}}
            {{#if photo}}
            <div class="row">
              <div class="input-field col l12 m12">              
                <input id="shoot_location" name="Proposed Photo Shoot Location and Time" type="text">
                <label for="shoot_location">Proposed Shoot Location and Time</label>
              </div>  
            </div>
            {{/if}}
            <div class="row rowFix textfieldTopSpacing">  
              <div class="input-field col l12 m12">
                <textarea id="textarea2" class="materialize-textarea" name="Project Decsription" length="500"></textarea>
                <label for="textarea2">Project Description</label>
              </div>
            </div>
            <div class="row rowFix textfieldTopSpacing">  
              <div class="input-field col l12 m12">
                <textarea id="textarea3" class="materialize-textarea" name="Questions" length="200"></textarea>
                <label for="textarea3">Any questions?</label>
              </div>
            </div>
            <div class="row rowFix">  
              <div id="submitbtn" class="col l12 m12">
                <button class="btn-flat waves-effect waves-light submitbtn" type="submit" name="action">Send
                  <i class="mdi-content-send right"></i>
                </button>
              </div>
            </div>
          </form>
          {{/if}}
          </div>
        </div>
      </div>
    </div>  
  {{> yield}}
</template>