<template name="navbar">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="row rowFix">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="{{pathFor route='photo'}}">Photo</a></li>
        <li><a href="/graphic">Graphic</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/web">Web</a></li>
        <li><a href="/product">Product</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/officers">Officers</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/alumni">Alumni</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img class="logo" src="/img/logo-white.png"></a>
        <ul class="right hide-on-med-and-down navText">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Work</a></li>
          <li><a href="/club">Club</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">People</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/decal">Decal</a></li>
          <li><a class="modal-trigger openRequests" href="#modal1">Requests</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/events">Events</a></li>
          <li><a class="modal-trigger" href="#modal1">Requests</a></li>
          <li><a href="/photo">Photo</a></li>
          <li><a href="/graphic">Graphic</a></li>
          <li><a href="/video">Video</a></li>
          <li><a href="/web">Web</a></li>
          <li><a href="/product">Product</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </div>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-footer">
        <a href="" class="modal-action modal-close"><i class="material-icons right closeFormBtn">close</i></a>
      </div>
      <div class="row requestsFormPadding">
        <div class="col l6 offset-l3 m12">
          <div class="card-content request">
            {{#if submitted}}
              <div class="row rowFix">
                <div class="col l12 center">
                  <h3 class="h3black">Your request is currently being delivered by a squad of intelligent owls. <br><br> An officer should be reaching out to you in a couple days to discuss the details of the project.</h3>.
                </div>
              </div>
            {{else}}
            <div class="row rowFix">
              <div class="col l12 m10 offset-m1">
                <h3 class="h3black">Please submit design requests through the form below.</h3>
              </div>
            </div>
            <form class="col l12 m10 offset-m1 requestForm">
              <div class="row rowFix">  
                <div class="input-field col l6 m6">              
                    <input id="first_name" type="text">
                    <label for="first_name">Name</label>
                </div>
         
                <div class="input-field col l6 m6">
                    <input id="email" type="email">
                    <label for="email">Email</label>
                </div>
              </div>
              <div class="row rowFix">  
                <div class="input-field col l6 m6">
                    <input id="phone" type="text">
                    <label for="phone">Phone</label>
                </div>
      
                <div class="input-field col l6 m6">
                    <input id="organization" type="text">
                    <label for="organization">Organization</label>
                </div>
              </div>
              <div class="row rowFix textfieldTopSpacing">  
                <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" length="250"></textarea>
                    <label for="textarea1">Organization Description</label>
                  </div>
              </div>
              <div class="row rowFix">    
                <div class="input-field col l6 m6">
                  <input type="date" placeholder="Proposed Deadline" class="datepicker">
                  <label for="date"></label>
                </div> 
                <div class="col l6 m6">
                  <label class="tierSelect">&nbsp;</label>
                  <select id="dropdown" class="browser-default tierSelect">
                      <option value="" disabled="" selected="">Project Category</option>
                      <option value="videography">Videography</option>
                      <option value="photography">Photography</option>
                      <option value="graphicdesign">Graphic Design</option>
                      <option value="webdesign">Web Design</option>
                  </select>
                </div>
              </div>
            {{#if graphic}}
              <div class="row">  
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="banner"/>
                    <label for="banner">Banner</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="poster"/>
                    <label for="poster">Poster</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="logo"/>
                    <label for="logo">Logo</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="pamphlet"/>
                    <label for="pamphlet">Pamphlet</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="other"/>
                    <label for="other">Other</label>
                </p>
                </div>
              </div>
            {{/if}}
            {{#if video}}
              <div class="row">  
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="Documentary"/>
                    <label for="Documentary">Documentary</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="Promotional"/>
                    <label for="Promotional">Promotional</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="other"/>
                    <label for="other">Other</label>
                </p>
                </div>
              </div>
            {{/if}}
            {{#if photo}}
              <div class="row">
                <div class="input-field col l12 m6">              
                  <input id="shoot_location" type="text">
                  <label for="shoot_location">Shoot Location</label>
                </div>  
                <div class="input-field col l6">
                  <p class="removeTopMargin">
                    <input type="checkbox" class="filled-in" id="Documentary"/>
                    <label for="Documentary">Club Photos</label>
                  </p>
                </div>
                <div class="input-field col l6">
                  <p class="removeTopMargin">
                    <input type="checkbox" class="filled-in" id="Promotional"/>
                    <label for="Promotional">Event Photos</label>
                  </p>
                </div>
                <div class="input-field col l6">
                  <p class="removeTopMargin">
                    <input type="checkbox" class="filled-in" id="other"/>
                    <label for="other">Other</label>
                  </p>
                </div>
              </div>
            {{/if}}
            {{#if web}}
              <div class="row">  
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="Documentary"/>
                    <label for="Documentary">Single Page Site</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="Promotional"/>
                    <label for="Promotional">Multi-Page Site</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="Promotional"/>
                    <label for="Promotional">Blog</label>
                </p>
                </div>
                <div class="input-field col l6">
                    <p class="removeTopMargin">
                  <input type="checkbox" class="filled-in" id="other"/>
                    <label for="other">Other</label>
                </p>
                </div>
              </div>
            {{/if}}
            <div class="row rowFix textfieldTopSpacing">  
              <div class="input-field col l12 m12">
                <textarea id="textarea2" class="materialize-textarea" length="500"></textarea>
                <label for="textarea2">Project Description</label>
              </div>
            </div>
              <div class="row rowFix">  
                  <div id="submitbtn" class="col l12 m12">
                    <button class="btn-flat waves-effect waves-light submitbtn" type="submit" name="action">Send
                  <i class="mdi-content-send right"></i>
                </button>
              </div>
            </div>
          </form>
          {{/if}}
          </div>
        </div>
      </div>
    </div>  
  {{> yield}}
</template>