<template name="landing">
  <div class="row">
    <div class="col l8 offset-l2">
        <video autoplay muted class="responsive-video">
            <source src="img/innod.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
    </div>
  </div>
  <div class="row">
    <div class="col l8 offset-l2 removeLeftPadding removeRightPadding">
      <div class="row">
        <div class="col l3">
          <div class="card landingCard">
            <div class="card-content">
              <br>
              <div class="row rowFix">
                <div class="col l12">
                  <h2>Club Infosession</h2>
                </div>
              </div>
              <div class="row rowFix">
                <div class="col l2">
                  <i class="fa fa-2x fa-location-arrow"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">Dwinelle Hall</p>
                </div>
              </div>
              <div class="row rowFix">
                <div class="col l2">
                  <i class="fa fa-2x fa-calendar"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">September 2</p>
                </div>
              </div>
              <div class="row rowFix">
                <div class="col l2">
                  <i class="fa fa-2x fa-clock-o"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">7-8 PM</p>
                </div>
              </div>
              <div class="row">
                <div class="col l2">
                  <i class="fa fa-2x fa-facebook"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">Event Page</p>
                </div>
              </div>
              <br>
              <div class="row rowFix">
                <div class="col l12">
                  <h2>DeCal Infosession</h2>
                </div>
              </div>
              <div class="row rowFix">
                <div class="col l2">
                  <i class="fa fa-2x fa-location-arrow"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">Wheeler Hall</p>
                </div>
              </div>
              <div class="row rowFix">
                <div class="col l2">
                  <i class="fa fa-2x fa-calendar"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">September 3</p>
                </div>
              </div>
              <div class="row rowFix">
                <div class="col l2">
                  <i class="fa fa-2x fa-clock-o"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">7-8 PM</p>
                </div>
              </div>
              <div class="row">
                <div class="col l2">
                  <i class="fa fa-2x fa-facebook"></i>
                </div>
                <div class="col l10">
                  <p class="icon-text">Event Page</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col l4">
          <div class="card landingCard">
            <div class="card-image">
              <img class="aboutPhotos responsive-img" src="img/clubphoto.jpg">
            </div>
            <div class="card-content">
                <div class="row rowFix">
                  <div class="col l12">
                    <h2>Fall 2015 Recruitment</h2> 
                    <p>Interested in joining Innovative Design? Make sure to come to our infosession at the start of the semester! We'll be releasing applications shortly after.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="col l5">
          <div class="card landingCard">
            <div class="card-content">
              <div class="row rowFix">
                <div class="col l12">
                  <h2>Recent Work</h2>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</template>