<template name="landing">
	<div class="row">
		<div class="col l8 offset-l2">
			<img class="placeholder" src="img/bluetier2.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col l8 offset-l2 removeLeftPadding removeRightPadding">
			<div class="row">
				<div class="col l4">
					<div class="card">
						<div class="card-content">
				  			<div class="row rowFix">
				  				<div class="col l12">
					  				<h2>DeCal Infosession</h2>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-location-arrow"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">Wheeler Hall</p>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-calendar"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">September 3</p>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-clock-o"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">7-8 PM</p>
				  				</div>
				  			</div>
				  			<div class="row">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-facebook"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">Event</p>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l12">
					  				<h2>CYMK Designathon</h2>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-location-arrow"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">Wheeler Hall</p>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-calendar"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">September 3</p>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-clock-o"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">7-8 PM</p>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l2">
				  					<i class="fa fa-2x fa-facebook"></i>
				  				</div>
				  				<div class="col l10">
				  					<p class="icon-text">Event</p>
				  				</div>
				  			</div>
				  		</div>
					</div>
				</div>

				<div class="col l4">
					<div class="card">
						<div class="card-content">
				  			<div class="row rowFix">
				  				<div class="col l12">
					  				<h2>Chumming Champions</h2>	
				  				</div>
				  			</div>
				  		</div>
					</div>
				</div>

				<div class="col l4">
					<div class="card">
						<div class="card-content">
				  			<div class="row rowFix">
				  				<div class="col l12">
					  				<h2>Recent Work</h2>
				  				</div>
				  			</div>
				  			<div class="row rowFix">
				  				<div class="col l12">
				  					<p></p>
				  				</div>
				  			</div>
				  		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>