<template name="officers">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

	<nav>
  		<div class="nav-wrapper">
	     	<a href="/" class="brand-logo"><img class="logo" src="img/logo-white.png"></a>
			<ul class="right hide-on-med-and-down">
		    	<li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="/contact">Contact</a></li>
		  	</ul>
		  	<ul id="slide-out" class="side-nav">
			    <li><a href="#!">Work</a></li>
		    	<li><a href="#!">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="/contact">Contact</a></li>
		  	</ul>
	  		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	  	</div>
	</nav>

	<div class="row rowFix">
		<div class="col l2 m5 offset-m1 offset-l2">
		  	<div class="card">
		  		<div class="card-image">
              		<img src="img/jordan.jpg">
            	</div>
		  		<div class="card-content officerBios">
		  			<div class="row">
		  				<div class="col l12">
		  					<h3>Jordan Said</h3>
		  					<h2>President</h2>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">Electrical Engineering and Computer Science</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-instagram"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">instagram/jordansaidwhat</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-twitter"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@jordansaidwhat</p>
		  				</div>
		  			</div>
	  			</div>

			</div>
		</div>
		<div class="col l2 m5">
		  	<div class="card">
		  		<div class="card-image">
              		<img src="img/lancy.jpg">
            	</div>
		  		<div class="card-content officerBios">
		  			<div class="row">
		  				<div class="col l12">
		  					<h3>Lancy Zhang</h3>
		  					<h2>President</h2>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">Business</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-instagram"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">instagram/lancyzhang</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-twitter"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@lancyzhang</p>
		  				</div>
		  			</div>
	  			</div>
	  			
			</div>
		</div>
		<div class="col l2">
		  	<div class="card">
		  		<div class="card-image">
              		<img src="img/hongye.jpg">
            	</div>
		  		<div class="card-content officerBios">
		  			<div class="row">
		  				<div class="col l12">
		  					<h3>Hongye Xu</h3>
		  					<h2>VP of Technology</h2>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10">
		  					<p class="icon-text">Making Money</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
	  			</div>
			</div>
		</div>
		<div class="col l2">
		  	<div class="card">
		  		<div class="card-image">
              		<img src="img/kevin.jpg">
            	</div>
		  		<div class="card-content officerBios">
		  			<div class="row">
		  				<div class="col l12">
		  					<h3>Kevin Lee</h3>
		  					<h2>Advisor</h2>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10">
		  					<p class="icon-text">Computer Science</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2">
		  					<i class="fa fa-2x fa-instagram"></i>
		  				</div>
		  				<div class="col l10">
		  					<p class="icon-text">kevinlee</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2">
		  					<i class="fa fa-2x fa-github"></i>
		  				</div>
		  				<div class="col l10">
		  					<p class="icon-text">kevinlee</p>
		  				</div>
		  			</div>
	  			</div>	
			</div>
		</div>
	</div>
</template>