<template name="officers">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<nav>
  		<div class="nav-wrapper">
	     	<a href="/" class="brand-logo"><img class="logo" src="img/logo-white.png"></a>
			<ul class="right hide-on-med-and-down">
		    	<li><a href="#!">Work</a></li>
		    	<li><a href="/teams">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="/contact">Contact</a></li>
		  	</ul>
		  	<ul id="slide-out" class="side-nav">
			    <li><a href="#!">Work</a></li>
		    	<li><a href="/teams">Teams</a></li>
		    	<li><a href="/officers">Officers</a></li>
		    	<li><a href="/contact">Contact</a></li>
		  	</ul>
	  		<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	  	</div>
	</nav>

	<div class="row">
		<div class="col l2 m5 offset-m1 offset-l2">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="activator" src="img/jordan.jpg">
			    </div>
			    <div class="card-content">
			      	<div class="row rowFix">
			      		<div class="col l12 m12">
			      			<h2>Jordan Said</h2>
			      		</div>
			      		<div class="col l9 m9">
			      			<p>President</p>
			      		</div>
			      		<div class="col l3 m3 removeRightPadding">
			      			<div class="activator"><i class="material-icons info-btn right">add</i></div>
			      		</div>
			      	</div>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title"><i class="material-icons right">close</i></span>
			     	<div class ="row rowFix addMarginTop75">
			     		<div class="col l12">
			     			<h2>Jordan Said</h2>
			     		</div>
			     	</div>
			     	<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">Molecular and Cellular Biology</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-instagram"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@jordansaidwhat</p>
		  				</div>
		  			</div>
		  			<div class="row">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-twitter"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@jordansaidwhat</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l12 m12">
		  					<p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat.</p>
		  				</div>
		  			</div>
			    </div>
			</div>
		</div>
		<div class="col l2 m5">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="activator" src="img/lancy.jpg">
			    </div>
			    <div class="card-content">
			      	<div class="row rowFix">
			      		<div class="col l12 m12">
			      			<h2>Lancy Zhang</h2>
			      		</div>
			      		<div class="col l9 m9">
			      			<p>President</p>
			      		</div>
			      		<div class="col l3 m3 removeRightPadding">
			      			<div class="activator"><i class="material-icons info-btn right">add</i></div>
			      		</div>
			      	</div>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title"><i class="material-icons right">close</i></span>
			     	<div class ="row rowFix addMarginTop75">
			     		<div class="col l12">
			     			<h2>Lancy Zhang</h2>
			     		</div>
			     	</div>
			     	<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">Business</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-instagram"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@lancyzhang</p>
		  				</div>
		  			</div>
		  			<div class="row">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-twitter"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@lancyzhang</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l12 m12">
		  					<p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat.</p>
		  				</div>
		  			</div>
			    </div>
			</div>
		</div>
		<div class="col l2 m5 offset-m1">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="activator" src="img/kevin.jpg">
			    </div>
			    <div class="card-content">
			      	<div class="row rowFix">
			      		<div class="col l12 m12">
			      			<h2>Kevin Lee</h2>
			      		</div>
			      		<div class="col l9 m9">
			      			<p>VP of Marketing</p>
			      		</div>
			      		<div class="col l3 m3 removeRightPadding">
			      			<div class="activator"><i class="material-icons info-btn right">add</i></div>
			      		</div>
			      	</div>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title"><i class="material-icons right">close</i></span>
			     	<div class ="row rowFix addMarginTop75">
			     		<div class="col l12">
			     			<h2>Kevin Lee</h2>
			     		</div>
			     	</div>
			     	<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">Computer Science</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-instagram"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@kevinlee</p>
		  				</div>
		  			</div>
		  			<div class="row">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-twitter"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@kevinlee</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l12 m12">
		  					<p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat.</p>
		  				</div>
		  			</div>
			    </div>
			</div>
		</div>
		<div class="col l2 m5">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      	<img class="activator" src="img/hongye.jpg">
			    </div>
			    <div class="card-content">
			      	<div class="row rowFix">
			      		<div class="col l12 m12">
			      			<h2>Jordan Said</h2>
			      		</div>
			      		<div class="col l9 m9">
			      			<p>President</p>
			      		</div>
			      		<div class="col l3 m3 removeRightPadding">
			      			<div class="activator"><i class="material-icons info-btn right">add</i></div>
			      		</div>
			      	</div>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title"><i class="material-icons right">close</i></span>
			     	<div class ="row rowFix addMarginTop75">
			     		<div class="col l12">
			     			<h2>Jordan Said</h2>
			     		</div>
			     	</div>
			     	<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-pencil"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">Molecular and Cellular Biology</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-graduation-cap"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">2017</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-instagram"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@jordansaidwhat</p>
		  				</div>
		  			</div>
		  			<div class="row">
		  				<div class="col l2 m2">
		  					<i class="fa fa-2x fa-twitter"></i>
		  				</div>
		  				<div class="col l10 m10">
		  					<p class="icon-text">@jordansaidwhat</p>
		  				</div>
		  			</div>
		  			<div class="row rowFix">
		  				<div class="col l12 m12">
		  					<p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat.</p>
		  				</div>
		  			</div>
			    </div>
			</div>
		</div>
    </div>
</template>