<template name="oldlanding">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

	<div class="center">
		<img class="logo center-align" src="img/logo-white.png">
	</div>
	<div class="row rowFix">
		<div class="col l12">
		  	<div class="card">
		  		<div class="card-content cardContent topMargin about">
		  			<div class="row">
			  			<div class="col l5">
			  				<div class="row">
			  					<div class="col l12 removeLeftPadding">
			  						<img src="img/clubphoto.jpg" class="headerImg">
			  					</div>
			  				</div>
			  				<div class="row rowFix">
				  				<div class="col l10 removeLeftPadding">
				  					<h3>Innovative Design is a family of designers, photographers, web developers, and videographers at the University of California, Berkeley.</h3>
						  			<p class="aboutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat, elit at commodo ullamcorper, nisi magna elementum nibh, in placerat felis orci sed nulla. Morbi placerat lorem eu rutrum ornare. Cras vitae justo lacus. Fusce ultricies semper ipsum, sed dapibus libero ultricies ut. Vestibulum mattis erat mi. Pellentesque ex est, iaculis non ultrices ut, aliquet efficitur sem. Praesent risus mauris, egestas at justo vel, fermentum efficitur orci. Curabitur libero tellus, elementum a mi non, rutrum tempor ipsum. Cras nec lorem at augue venenatis fringilla. Nunc eu eros urna. </p>
						  		</div>
						  		<div class="col l2">
						  			<div class="row">										
										<div class="col l12 icon">
											<i class="fa fa-2x fa-envelope-o"></i>
										</div>
									</div>
						  			<div class="row">
							  			<div class="col l12 icon">
											<i class="fa fa-2x fa-facebook"></i>
										</div>
									</div>
									<div class="row">
										<div class="col l12 icon">
											<i class="fa fa-2x fa-instagram"></i>
										</div>
									</div>
									<div class="row">
										<div class="col l12 icon">
											<i class="fa fa-2x fa-twitter"></i>
										</div>
									</div>
									<div class="row">									
										<div class="col l12 icon">
											<i class="fa fa-2x fa-github"></i>
										</div>
									</div>
						  		</div>
						  	</div>
						  	<div class="row">
								<div class="col l12 removeLeftPadding">
									<h3>Recent Projects</h3>
								</div>
								<div class="col l6 removeLeftPadding">
			  						<img src="img/vrb.jpg" class="headerImg">
			  					</div>
			  					<div class="col l6 removeLeftPadding">
			  						<img src="img/land.jpg" class="headerImg">
			  					</div>
			  					<div class="col l12 removeLeftPadding">
			  						<a class="waves-effect waves-light btn">More...</a>
			  					</div>
						  	</div>
			  			</div>
			  			<div class="col l4">
							<div class="col l12">
								<div class="row rowFix">
									<div class="col l12">
										<h3>Events</h3>
									</div>
								</div>
					  			<div class="col l5 removeLeftPadding">
							  		<div class="row rowFix">
										<div class="col l12">
											<p class="eventTitle">Club Infosession</p>
										</div>
									</div>
									<div class="row">
										<div class="col l1">
											<i class="mdi-communication-location-on"></i>
										</div>
										<div class="col l8 eventLocation">
											<p>September 6 <br> Dwinelle Hall <br> 6PM - 7PM</p>
										</div>
									</div>
								</div>
								<div class="col l5">
									<div class="row rowFix">
										<div class="col l12">
											<p class="eventTitle">CYMK Designathon</p>
										</div>
									</div>
									<div class="row">
										<div class="col l1">
											<i class="mdi-communication-location-on"></i>
										</div>
										<div class="col l8 eventLocation">
											<p>November 1 <br> Cory Hall <br> 10AM - 5PM</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col l12 teamSpacing">
								<div class="row rowFix">
									<div class="col l12">
										<h3>Teams</h3>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle bluetier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Blue Tier is a group of intermediate to advanced designers that offers design services to off-campus groups such as businesses and restaurants. Designers learn to push creativity in a fast-paced and professional environment.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle goldtier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Gold Tier offers graphic design education and experience for beginner to intermediate designers through providing free design services to on-campus groups.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle phototier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Photo Tier provides a hands-on experience in shooting professional headshots, event photography, stock photos and more. Develop your artistic style and contribute to a team of diverse skill sets. 
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle webtier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Web Tier is a group of beginner to advanced web developers and designers. We create mock-ups and build websites for clients that are in need of technical help.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle videotier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Video Tier creates short films and promotional videos for Cal organizations! Tier members are able to gain experience and knowledge through exploring videography in a small teams.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle producttier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Product Tier does some sort of fancy shit in the invention lab. I think they had something to do with everyone getting gifts that were laser engraved. Go figure. Join them they're pretty chill.</p>
									</div>
								</div>

							</div>
							<div class="col l12 faqSpacing">
								<div class="row rowFix">
									<div class="col l12">
										<h3>FAQ</h3>
									</div>
								</div>
								<div class="row">
									<div class="col l6">
										<h2>When can I apply?</h2>
										<br>
										<p class="faq">Every semester, Innovative Design has a general infosession near the start of the semester. Afterwards, a link to the tier applications will be available on this website.</p>
									</div>
									<div class="col l6">
										<h2>Does the club table?</h2>
										<br>
										<p class="faq">We table Monday through Friday on Sproul near Sather Gate and GBC. Just look for our banner and come over to chat.</p>
									</div>

								</div>
								<div class="row">

									<div class="col l6">
										<h2>Can I lead a tier?</h2>
										<br>
										<p class="faq">Only officers are allowed to lead tiers in Innovative Design. To become an officer, you must have been with our club for at least one semester.</p>
									</div>
									<div class="col l6">
										<h2>How do I sign-up for the DeCal?</h2>
										<br>
										<p class="faq">Our graphic design DeCal is lead by some of our talented officers. Make sure to attend the DeCal infosession at the start of the semester. Sign-ups will open shortly after.</p>
									</div>
								</div>
							</div> 
			  			</div>

			  			<div class="col l3 removeLeftPadding">
			  				<div class="col l1 removeLeftPadding">
				  				<div class="dividerVert">
				  				</div>
				  			</div>

			  				<form class="col l11 requestText requestForm">
			  					<div class="row rowFix">
									<div class="col l12">
										<h3>Requests</h3>
									</div>
								</div>
						      	<div class="row rowFix">
						      		<div class="col l12 projAd">
						          		<p>Submit your design request through the form below, and one of our officers should get back to you within a couple days to discuss the details of the project. Please contact an officer or email the club if you have any other inquiries.</p>
						        	</div>
						        </div>
						       	<div class="row rowFix">  
						        	<div class="input-field col l12">	        		
						          		<input id="first_name" type="text">
						          		<label for="first_name">Name</label>
						        	</div>
						        </div>
						        <div class="row rowFix">  
							        <div class="input-field col l12">
						        	  	<input id="email" type="email">
						          		<label for="email">Email</label>
						        	</div>
						        </div>
								<div class="row rowFix">  
							        <div class="input-field col l12">
						        	  	<input id="phone" type="email">
						          		<label for="phone">Phone</label>
						        	</div>
						        </div>
						        <div class="row rowFix">  
						        	<div class="input-field col l12">
						        	  	<input id="organization" type="text">
						          		<label for="organization">Organization</label>
						        	</div>
						        </div>
						        <div class="row rowFix requestSpacing">    
						        	<div class="input-field col s12">
						        		<input type="date" placeholder="Proposed Deadline" class="datepicker">
						        		<label for="date"></label>
						        	</div>
						        </div>
						        <div class="row rowFix">  
						        	<div class="col s12">
							        	<label class="tierSelect">Project Category</label>
									    <select id="dropdown" class="browser-default tierSelect">
										      <option value="" disabled="" selected="">Choose your option</option>
										      <option value="1">Videography</option>
										      <option value="2">Photography</option>
										      <option value="3">Graphic Design</option>
										      <option value="4">Web Design</option>
									    </select>
									</div>
								</div>
								<div class="row rowFix">  
							    	<div class="input-field col s12">
						            	<textarea id="textarea1" class="materialize-textarea additionalInfo" length="450"></textarea>
						            	<label for="textarea1">Additional Info</label>
							      	<span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span></div>
							    </div>
							    <div class="row rowFix">  
							      	<div id="submitbtn" class="col s12">
								      	<button class="btn waves-effect waves-light submitbtn" type="submit" name="action">Submit
											<i class="mdi-content-send right"></i>
										</button>
									</div>
								</div>
							</form>
			  			</div>


			  		</div>
		  		</div>
		  		<div class="row footer">
					<div class="col l12">
						<div class="divider"></div>
					</div>
					<br>
					<div>
						<p class="copyright">© Innovative Design 2015</p>
					</div>
				</div>
			</div>
		</div>

	</div>

<!-- 

	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

	<div class="center">
		<img class="logo center-align" src="img/logo-white.png"/>
	</div>
	<div class="row rowFix">
		<div class="col l1">
			<div class="row">										
				<div class="col l12 removeRightPadding">
					<p class="navText">Home</p>
				</div>
				<div class="col l12 removeRightPadding">
					<p class="navText">Design</p>
				</div>
				<div class="col l12 removeRightPadding">
					<p class="navText">Teams</p>
				</div>
				<div class="col l12 removeRightPadding">
					<p class="navText">Officers</p>
				</div>
				<div class="col l12 removeRightPadding">
					<p class="navText">Applications</p>
				</div>
				<div class="col l12 removeRightPadding">
					<p class="navText">FAQ</p>
				</div>
	  			<div class="row">										
					<div class="col l12 icon">
						<i class="fa fa-2x fa-envelope-o"></i>
					</div>
				</div>
	  			<div class="row">
		  			<div class="col l12 icon">
						<i class="fa fa-2x fa-facebook"></i>
					</div>
				</div>
				<div class="row">
					<div class="col l12 icon">
						<i class="fa fa-2x fa-instagram"></i>
					</div>
				</div>
				<div class="row">
					<div class="col l12 icon">
						<i class="fa fa-2x fa-twitter"></i>
					</div>
				</div>
				<div class="row">									
					<div class="col l12 icon">
						<i class="fa fa-2x fa-github"></i>
					</div>
				</div>

		  	</div>
		</div>
		<div class="col l10">
		  	<div class="card">
		  		<div class="card-content cardContent topMargin about">
		  			<div class="row">
			  			<div class="col l7">
			  				<div class="row">
			  					<div class="col l12 removeLeftPadding">
			  						<img src="img/clubphoto.jpg" class="headerImg"/>
			  					</div>
			  				</div>
			  				<div class="row">
								<div class="col l12 removeLeftPadding">
					  				<h3>Innovative Design is a family of designers, photographers, web developers, and videographers at the University of California, Berkeley.</h3>
							  		<p class="aboutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat, elit at commodo ullamcorper, nisi magna elementum nibh, in placerat felis orci sed nulla. Morbi placerat lorem eu rutrum ornare. Cras vitae justo lacus. Fusce lutricies semper ipsum, sed dapibus libero ultricies ut. Vestibulum mattis erat mi. Pellentesque ex est, iaculis non ultrices ut, aliquet efficitur sem. Praesent risus mauris, egestas at justo vel, fermentum efficitur orci. Curabitur libero tellus, elementum a mi non, rutrum tempor ipsum. Cras nec lorem at augue venenatis fringilla. Nunc eu eros urna.</p>
							  	</div>
						  	</div>
			  			</div>
			  			<div class="col l5 removeLeftPadding">
			  				<div class="row">
						  		<div class="col l12 removeLeftPadding">
									<div class="row rowFix">
										<div class="col l12">
											<h3>Events</h3>
										</div>
									</div>
						  			<div class="col l5 removeLeftPadding">
								  		<div class="row rowFix">
											<div class="col l12">
												<p class="eventTitle">Club Infosession</p>
											</div>
										</div>
										<div class="row">
											<div class="col l1">
												<i class="mdi-communication-location-on"></i>
											</div>
											<div class="col l8 eventLocation">
												<p>September 6 <br> Dwinelle Hall <br> 6PM - 7PM</p>
											</div>
										</div>
									</div>
									<div class="col l5">
										<div class="row rowFix">
											<div class="col l12">
												<p class="eventTitle">CYMK Designathon</p>
											</div>
										</div>
										<div class="row">
											<div class="col l1">
												<i class="mdi-communication-location-on"></i>
											</div>
											<div class="col l8 eventLocation">
												<p>November 1 <br> Cory Hall <br> 10AM - 5PM</p>
											</div>
										</div>
									</div>
								</div>
						  	</div>
			  				<form class="col l11 requestText requestForm">
			  					<div class="row rowFix">
									<div class="col l12">
										<h3>Requests</h3>
									</div>
								</div>
						      	<div class="row rowFix">
						      		<div class="col l12 projAd">
						          		<p>Submit your design request through the form below, and one of our officers should get back to you within a couple days to discuss the details of the project. Please contact an officer or email the club if you have any other inquiries.</p>
						        	</div>
						        </div>
						       	<div class="row rowFix">  
						        	<div class="input-field col l12">	        		
						          		<input id="first_name" type="text">
						          		<label for="first_name">Name</label>
						        	</div>
						        </div>
						        <div class="row rowFix">  
							        <div class="input-field col l12">
						        	  	<input id="email" type="email">
						          		<label for="email">Email</label>
						        	</div>
						        </div>
								<div class="row rowFix">  
							        <div class="input-field col l12">
						        	  	<input id="phone" type="text">
						          		<label for="phone">Phone</label>
						        	</div>
						        </div>
						        <div class="row rowFix">  
						        	<div class="input-field col l12">
						        	  	<input id="organization" type="text">
						          		<label for="organization">Organization</label>
						        	</div>
						        </div>
						        <div class="row rowFix requestSpacing">    
						        	<div class="input-field col s12">
						        		<input type="date" placeholder="Proposed Deadline" class="datepicker">
						        		<label for="date"></label>
						        	</div>
						        </div>
						        <div class="row rowFix">  
						        	<div class="col s12">
							        	<label class="tierSelect">Project Category</label>
									    <select id="dropdown" class="browser-default tierSelect">
										      <option value="" disabled selected>Choose your option</option>
										      <option value="1">Videography</option>
										      <option value="2">Photography</option>
										      <option value="3">Graphic Design</option>
										      <option value="4">Web Design</option>
									    </select>
									</div>
								</div>
								<div class="row rowFix">  
							    	<div class="input-field col s12">
						            	<textarea id="textarea1" class="materialize-textarea additionalInfo" length="450"></textarea>
						            	<label for="textarea1">Additional Info</label>
							      	</div>
							    </div>
							    <div class="row rowFix">  
							      	<div id="submitbtn" class="col s12">
								      	<button class="btn waves-effect waves-light submitbtn" type="submit" name="action">Submit
											<i class="mdi-content-send right"></i>
										</button>
									</div>
								</div>
							</form>
			  			</div>


			  		</div>
		  		</div>

			</div>
		</div>

	</div>
 -->
</template>
