
								<!-- <div class="row rowFix">
									<div class="col l12">
										<h3>Teams</h3>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle bluetier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Blue Tier is a group of intermediate to advanced designers that offers design services to off-campus groups such as businesses and restaurants. Designers learn to push creativity in a fast-paced and professional environment.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle goldtier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Gold Tier offers graphic design education and experience for beginner to intermediate designers through providing free design services to on-campus groups.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle phototier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Photo Tier provides a hands-on experience in shooting professional headshots, event photography, stock photos and more. Develop your artistic style and contribute to a team of diverse skill sets. 
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle webtier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Web Tier is a group of beginner to advanced web developers and designers. We create mock-ups and build websites for clients that are in need of technical help.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle videotier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Video Tier creates short films and promotional videos for Cal organizations! Tier members are able to gain experience and knowledge through exploring videography in a small teams.</p>
									</div>
								</div>

								<div class="row">
									<div class="col l1">
										<i class="fa fa-2x fa-circle producttier"></i>						
									</div>
									<div class="col l11">
										<p class="aboutText">Product Tier does some sort of fancy shit in the invention lab. I think they had something to do with everyone getting gifts that were laser engraved. Go figure. Join them they're pretty chill.</p>
									</div>
								</div>

							</div>
							<div class="col l12 faqSpacing">
								<div class="row rowFix">
									<div class="col l12">
										<h3>FAQ</h3>
									</div>
								</div>
								<div class="row">
									<div class="col l6">
										<h2>When can I apply?</h2>
										<br>
										<p class="faq">Every semester, Innovative Design has a general infosession near the start of the semester. Afterwards, a link to the tier applications will be available on this website.</p>
									</div>
									<div class="col l6">
										<h2>Does the club table?</h2>
										<br>
										<p class="faq">We table Monday through Friday on Sproul near Sather Gate and GBC. Just look for our banner and come over to chat.</p>
									</div>

								</div>
								<div class="row">

									<div class="col l6">
										<h2>Can I lead a tier?</h2>
										<br>
										<p class="faq">Only officers are allowed to lead tiers in Innovative Design. To become an officer, you must have been with our club for at least one semester.</p>
									</div>
									<div class="col l6">
										<h2>How do I sign-up for the DeCal?</h2>
										<br>
										<p class="faq">Our graphic design DeCal is lead by some of our talented officers. Make sure to attend the DeCal infosession at the start of the semester. Sign-ups will open shortly after.</p>
									</div>
								</div>
							</div> 
			  			</div>
		  		<div class="row footer">
					<div class="col l12">
						<div class="divider"></div>
					</div>
					<br>
					<div>
						<p class="copyright">&copy; Innovative Design 2015</p>
					</div>
				</div> -->