<template name="photo">
  <div class="row">
    <div class="col l8 offset-l2 m8 offset-m2">
      <div class="card">
          <div class="card-content">
            <div class="row">
            <div class="col l12">
              <div class="col l12"> <!-- only for the padding -->
                <br>
                <h3>Photo Tier</h3>
                <p>Join Photo Tier for hands-on experience in shooting professional headshots, event photography, stock photos and more. Members gain knowledge through weekly lessons in subjects such as photo-retouching in Photoshop and Lightroom, camera techniques, and studio photography. Develop your artistic style and contribute to a team of diverse skill sets. Join photo tier for experiences in almost every type of photography.</p>
              </div>
            </div>
          </div>
          <div class="row tierWorkSpacing">
            <div class="row">
              <div class="col l8 offset-l2 m12">
                  <ul class="tabs">
                      <li class="tab col l3 m12">
                        <a class="active" href="#test2">
                          <h2>Tier Work</h2>
                        </a>
                      </li>
                      <li class="tab col l3 m3">
                        <a href="#test1">
                          <h2>Tier Leaders</h2>
                        </a>
                      </li>

                  </ul>
              </div>
            </div>
            <div id="test1" class="col l12 m12">
              <br>
              <br>
              <div class="row">
                <div class="col l12">
                  <div class="col l2 offset-l2 m3">    
                      <img class="aboutPhotos circle responsive-img" src="img/hongye.jpg">
                  </div>
                  <div class="col l2 m3">
                    <img class="aboutPhotos circle responsive-img" src="img/jordan.jpg">
                  </div>
                  <div class="col l2 m3">
                      <img class="aboutPhotos circle responsive-img" src="img/kevin.jpg">
                  </div>
                  <div class="col l2 m3">
                    <img class="aboutPhotos circle responsive-img" src="img/lancy.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div id="test2" class="col l12 m12 center">
              <br>
              <br>
              <div class="row">
                <div class="col l3">    
                    <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier1.jpg">
                </div>
                <div class="col l3">
                  <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier2.jpg">
                </div>
                <div class="col l3">
                    <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier1.jpg">
                </div>
                <div class="col l3">
                  <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier2.jpg">
                </div>
              </div>
              <div class="row">
                <div class="col l3">    
                    <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier1.jpg">
                </div>
                <div class="col l3">
                  <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier2.jpg">
                </div>
                <div class="col l3">
                    <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier1.jpg">
                </div>
                <div class="col l3">
                  <img class="aboutPhotos materialboxed responsive-img" src="img/bluetier2.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>