<!-- Lots of <br>'s because I'm going to be lazy with this template... -->

<template name="members">
  <div class="row rowTopSpacing">
    <div class="col l4 offset-l2 m8 offset-m2">
  		<br>
  		<br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/blue.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Blue Tier</h2>
                <p><b>Leader:</b> Lisa Inoue</p>
                <p><b>Members:</b> Victoria Shi, David Xie, Julia Liang, Jeffrey Shi, Barbara Yang, Jessica Kwon, Yudi Sun, Franky Spektor</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/gold.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Gold Tiers</h2>
                <p><b>Leader:</b> Angira Shirahatti</p>
                <p><b>Members:</b> Leah Lock, Luke Larson, Margaret Zhou, Leanne Chan, Anjalika Madduri, Amy Shan, Sohrob Nayebaziz</p>
                <br>
                <p><b>Leader:</b> Tina Xu</p>
                <p><b>Members:</b> Justin Jeong, Kate Masancay, Miin Choi, Cate Liu, Christine Liu, Becky Jiras, Nicholas Lue, Sofia Moon, Cindy Chou</p>
                <br>
                <p><b>Leader:</b> Jacqueline Woo</p>
                <p><b>Members:</b> Christine Le, Krista Kurasaki, Jiwan (Jessica) Kim, Taylor Honda, Adriana Babakanian, Grace Ma, David Nguyen, Justin Hwang</p>
                <br>
                <p><b>Leader:</b> Sonia Hung</p>
                <p><b>Members:</b> Irene Dea, Vivian Liu, Zach Strenfel, Brian Giang, Felix Yiu, Yoojin Chung, Nancy Li, Julie Wong</p>
                <br>
                <p><b>Leader:</b> Alven Wang</p>
                <p><b>Members:</b> Ashley Ding, Robert Rodriguez, Carissa Alforque, George Geng, Anton Oyung, Stacey Dojiri, Melody Jung, Caroline Chen</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/photo.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Photo Tiers</h2>
                <p><b>Leaders:</b> Natasha Welingkar and Cassie Zhou</p>
                <p><b>Members:</b> Janel Kajisa, Zach Owens, Natya Dharmosetio, Terry Tsai, Albert Hu, Jacqueline Hoang, Soph Li, Michelle Chuang, Cody Hsieh</p>
                <br>
                <p><b>Leaders:</b> Aishwarya Aravind and Brandon Chau</p>
                <p><b>Members:</b> Ankur Maniar, Anne Lin, Pamela Hu, Nicholas Chiu, Mohith Subbarao, Jackie Xu, Peter Phan, Lina Nguyen</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/video.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Video Tier</h2>
                <p><b>Leader:</b>  Hongye Xu</p>
                <p><b>Members:</b> Charley Huang, Sascha Koller, Angela Ko, Tony Zhang, Siddharth Bhogra, Arlan Jaska</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/product.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Product Tier</h2>
                <p><b>Leader:</b> Prashan Dharmasena</p>
                <p><b>Members:</b> Paul Moulton, Tiffany Kim, Vir Doshi, Annie Wang, Hammad Bashir, Owen Chen</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/web.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Web Exploration Tier</h2>
                <p><b>Leader:</b> Ben Marimon</p>
                <p><b>Members:</b> Joel Whang, Cesar Ruiz, Liza Praprotnik, Jared Rulison, Ying Luo, Hanna Darroll, Erik Yang, Jerry Park, Queena Xu, Elizabeth Wu</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/web.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Web Development Tier</h2>
                <p><b>Leaders:</b> Arlan Jaska and Kevin Lee</p>
                <p><b>Members:</b> Michael Meng, Eric Zhao, Jessica He, Christine Munar, Eric Chang, Emilee Chen, Danny Cheng, Stanley Kwong, David Liu</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col l1 offset-l1 m1 offset-m1 removeLeftPadding">
                <img class="responsive-img" src="/img/marketing.png"/>
            </div>
            <div class="col l9 m10">
                <h2>Marketing Tier</h2>
                <p><b>Leaders:</b> Charisse Celestial and Kevin Lee</p>
                <p><b>Members:</b> Julia Sun, Sey Kim, Michelle Chang, Roya Chagnon</p>
            </div>
        </div>
        <br>
        <br>
    </div>
  </div>
  <br>
  <br>
</template>
