<!-- Lots of <br>'s because I'm going to be lazy with this template... -->

<template name="members">
  <div class="row rowTopSpacing">
    <div class="col l10 offset-l1">
    	<div class="row">
			<div class="col l1 offset-l1 removeLeftPadding">
				<img class="responsive-img" src="/img/blue.png"/>
			</div>
			<div class="col l9">
				
				<h2>Blue Tier (1)</h2>
				<p><b>Leaders:</b> Lisa Inoue, Gabi Dumaguin</p>
				<p><b>Members:</b> Elizabeth Wu, Barbara Yang, Sahil Mohan, Lina Nguyen, Victoria Shi. Ankur Maniar, Jisoo Kim</p>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col l1 offset-l1 removeLeftPadding">
				<img class="responsive-img" src="/img/gold.png"/>
			</div>
			<div class="col l9">
				
				<h2>Gold Tiers (5)</h2>
				<p><b>Leaders:</b> Jason Mai, Tina Xu, Jacqueline Woo, Angira Shirahatti, Emily To, Ying Luo</p>
				<p><b>Members:</b> Franky Spektor, David Bui, Samuel Starks, Karen Li, Margaret Zhou, Jaehee Ahn, Christine Liu, Carissa Alforque, Angela Choi, Krista Kurisaki, Brian Giang, Jeffrey Chien, Davinci Lam, Julia Liang, Katherine Yao, Irene Dea, Ziqi Chen, Se Yeon Kim, Stacey Dojiri, Vivian Liu, Leah Lock, Luke Larson, Michelle Chang, Akriti Singh, George Geng, Brent Yi, Alexander Ho, Jerry Fu, Roya Chagnon, Joyce Chen, Jocelyn Wu, Jessica Kwon, David Xie, Henry Yi, Felix Yiu, Christine Le, Becky Jiras, Melody Jung</p>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col l1 offset-l1 removeLeftPadding">
				<img class="responsive-img" src="/img/photo.png"/>
			</div>
			<div class="col l9">
				
				<h2>Photo Tiers (2)</h2>
				<p><b>Leaders:</b> Brandon Chau, Christian Le, Allan Peng, Shota Pangilinan</p>
				<p><b>Members:</b> Natasha Welingkar, Aishwarya Aravind, Michelle Chuang, Kyle Lu, Janel Kajisa, Catherine Zhou, Alejandro Serrano, Natya Dharmosetio, Natalia Castanho, Terry Tsai, Chi-Lan Tran, Eric Om, Pamela Hu, Nathan Park, Julie Zhang, Cindy Chou, Peter Phan</p>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col l1 offset-l1 removeLeftPadding">
				<img class="responsive-img" src="/img/video.png"/>
			</div>
			<div class="col l9">
			
				<h2>Video Tier (1)</h2>
				<p><b>Leaders:</b> Hongye Xu</p>
				<p><b>Members:</b> Angela Ko, Charley Huang, Erik Yang, Jessica He, Sascha Koller, Siddharth Bhogra, Sophia Li</p>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col l1 offset-l1 removeLeftPadding">
				<img class="responsive-img" src="/img/web.png"/>
			</div>
			<div class="col l9">
			
				<h2>Web Tiers (2)</h2>
				<p><b>Leaders:</b> Benjamin Marimon, Arlan Jaska</p>
				<p><b>Members:</b> Eric Zhao, Jacqueline Liu, Cindy Tung, Christine Munar, Michael Meng, Varsha Venkat, John Ang, Abhinav Rai, Jeff Gong, Danny Cheng, Danielle Kenwood, Julia Sun, Shin Yoon, Christine Wang, Ji-hern Baek, Alven Wang</p>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col l1 offset-l1 removeLeftPadding">
				<img class="responsive-img" src="/img/product.png"/>
			</div>
			<div class="col l9">
			
				<h2>Product Tier (1)</h2>
				<p><b>Leaders:</b> Christian Le, Prashan Dharmasena</p>
				<p><b>Members:</b> Philip Brown, Jared Rulison, Hammad Bashir, Paul Moulton, Rahul Ramakrishnan</p>
			</div>
		</div>
     
    </div>
  </div>
  <br>
  <br>
</template>